In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import json
from cryptocompy import coin,price
import tqdm
import seaborn as sns
sns.set();

In [2]:
import MySQLdb 
import sshtunnel
from sshtunnel import SSHTunnelForwarder

import quantstats as qs

# extend pandas functionality with metrics, etc.
qs.extend_pandas()

In [3]:
df = pd.DataFrame()
conn = MySQLdb.connect(host='tokenmetrics.cluster-cxuzrhvtziar.us-east-1.rds.amazonaws.com', user='admin', passwd='WiG8Rled2cTvZ5JibJui',db='tokenmetrics')
cursor = conn.cursor()
    
query = '''SELECT * FROM ico_ml_grade_history;'''
data = pd.read_sql_query(query, conn)
df = pd.concat([df,data])

conn.close()

In [4]:
def minmax_scaling(array, columns, min_val=0, max_val=1):
    """
    array : pandas DataFrame or NumPy ndarray, shape = [n_rows, n_columns].
    columns : array-like, shape = [n_columns]
        Array-like with column names, e.g., ['col1', 'col2', ...]
        or column indices [0, 2, 4, ...]
    min_val : `int` or `float`, optional (default=`0`)
        minimum value after rescaling.
    max_val : `int` or `float`, optional (default=`1`)
        maximum value after rescaling.
    """
    ary_new = array.astype(float)
    if len(ary_new.shape) == 1:
        ary_new = ary_new[:, np.newaxis]

    if isinstance(ary_new, pd.DataFrame):
        ary_newt = ary_new.loc
    elif isinstance(ary_new, np.ndarray):
        ary_newt = ary_new
    else:
        raise AttributeError('Input array must be a pandas'
                             'DataFrame or NumPy array')

    numerator = ary_newt[:, columns] - ary_newt[:, columns].min(axis=0)
    denominator = (ary_newt[:, columns].max(axis=0) -
                   ary_newt[:, columns].min(axis=0))
    ary_newt[:, columns] = numerator / denominator

    if not min_val == 0 and not max_val == 1:
        ary_newt[:, columns] = (ary_newt[:, columns] *
                                (max_val - min_val) + min_val)

    return ary_newt[:, columns]

In [11]:
temp = df[df['ico_id'] == ico]

In [14]:
temp['final_grade'].min().min()

54.8020439148

In [5]:
percentile = pd.DataFrame()

for ico in df['ico_id'].unique().tolist():
    temp = df[df['ico_id'] == ico]
    temp = temp.sort_values('date', ascending=False)

    res = minmax_scaling(temp[['final_grade']], columns=['final_grade'], min_val=temp['final_grade'].min().min(), max_val=99)
    final = res.iloc[0][0]

    res = minmax_scaling(temp[['fundamental_grade']], columns=['fundamental_grade'], min_val=temp['fundamental_grade'].min().min(), max_val=99)
    fund = res.iloc[0][0]

    res = minmax_scaling(temp[['technology_grade']], columns=['technology_grade'], min_val=temp['technology_grade'].min().min(), max_val=99)
    tech = res.iloc[0][0]

    res = minmax_scaling(temp[['technical_grade']], columns=['technical_grade'], min_val=temp['technical_grade'].min().min(), max_val=99)
    technical = res.iloc[0][0]

    temp = pd.DataFrame([ico,final,fund,tech,technical])
    percentile = pd.concat([percentile, temp.T], axis=0)

In [6]:
percentile.columns = ['ico_id','final_grade','fundamental_grade','technology_grade','technical_grade']
percentile.set_index('ico_id', inplace=True)

In [7]:
percentile

        final_grade  fundamental_grade  technology_grade  technical_grade
ico_id
2974.0    72.087741          80.651822         61.427498        75.506054
3060.0    77.009971          79.289509         70.973634        69.603494
3078.0    48.467106          64.619809         51.750565        49.090477
3108.0    99.000000          95.497091         61.651582        99.000000
3110.0    58.235822          32.816410         66.736893        85.431337
...             ...                ...               ...              ...
3788.0    99.000000          42.846420         74.143773        99.000000
3791.0    23.395733          29.415887         65.181842        43.076923
3792.0    51.026688          54.654467         18.933132        62.329785
3796.0    60.780955          77.124032         53.433510        56.830520
3168.0    84.990380          72.048893         73.052724        99.000000

[107 rows x 4 columns]

In [8]:
percentile.T.to_dict()

{2974.0: {'final_grade': 72.08774102292475,
  'fundamental_grade': 80.65182158526491,
  'technology_grade': 61.4274978638,
  'technical_grade': 75.50605383085272},
 3060.0: {'final_grade': 77.00997146376014,
  'fundamental_grade': 79.28950856441531,
  'technology_grade': 70.97363388308294,
  'technical_grade': 69.60349418641852},
 3078.0: {'final_grade': 48.4671058655,
  'fundamental_grade': 64.61980913596088,
  'technology_grade': 51.7505645752,
  'technical_grade': 49.090477278878836},
 3108.0: {'final_grade': 99.0,
  'fundamental_grade': 95.49709084557742,
  'technology_grade': 61.65158152113599,
  'technical_grade': 99.0},
 3110.0: {'final_grade': 58.23582154126867,
  'fundamental_grade': 32.8164100647,
  'technology_grade': 66.73689278422279,
  'technical_grade': 85.43133698201221},
 3119.0: {'final_grade': 79.24233989633535,
  'fundamental_grade': 80.94037858110065,
  'technology_grade': 62.4793395996,
  'technical_grade': 96.20698320121747},
 3120.0: {'final_grade': 64.11039448823698,
  'fundamental_grade': 50.77602401743402,
  'technology_grade': 64.73435773957584,
  'technical_grade': 78.6315347660458},
 3153.0: {'final_grade': 69.57554355906095,
  'fundamental_grade': 47.2127761841,
  'technology_grade': 66.88279825023206,
  'technical_grade': 95.86944571594758},
 3172.0: {'final_grade': 60.95236027751611,
  'fundamental_grade': 40.8889923096,
  'technology_grade': 63.63143453225163,
  'technical_grade': 99.0},
 3181.0: {'final_grade': 48.9161491394,
  'fundamental_grade': 61.49349180435794,
  'technology_grade': 80.27869998554843,
  'technical_grade': 46.109570819275724},
 3211.0: {'final_grade': 49.1290931702,
  'fundamental_grade': 43.95202167933493,
  'technology_grade': 65.90474741546278,
  'technical_grade': 52.768887861579095},
 3306.0: {'final_grade': 67.9593123065957,
  'fundamental_grade': 74.02065446831944,
  'technology_grade': 74.85837672816321,
  'technical_grade': 57.528447842417165},
 3307.0: {'final_grade': 81.78745693099424,
  'fundamental_grade': 84.23911076806019,
  'technology_grade': 64.7933883667,
  'technical_grade': 93.48063645210003},
 3312.0: {'final_grade': 55.6622505188,
  'fundamental_grade': 83.71416004650744,
  'technology_grade': 62.6897087097,
  'technical_grade': 43.4108543396},
 3313.0: {'final_grade': 54.1334571838,
  'fundamental_grade': 79.3308798835071,
  'technology_grade': 52.5920372009,
  'technical_grade': 59.52287500437239},
 3315.0: {'final_grade': 54.8701438904,
  'fundamental_grade': 55.0704956055,
  'technology_grade': 69.85660453330205,
  'technical_grade': 43.4108543396},
 3317.0: {'final_grade': 47.1011047363,
  'fundamental_grade': 45.9185676575,
  'technology_grade': 50.4883537292,
  'technical_grade': 44.9612388611},
 3318.0: {'final_grade': 68.25543708102524,
  'fundamental_grade': 53.16711624300205,
  'technology_grade': 55.9228668213,
  'technical_grade': 88.56881443848003},
 3320.0: {'final_grade': 58.790778405107154,
  'fundamental_grade': 99.0,
  'technology_grade': 55.9228668213,
  'technical_grade': 49.59579419611562},
 3323.0: {'final_grade': 56.17714369792991,
  'fundamental_grade': 45.849357605,
  'technology_grade': 57.89305745187425,
  'technical_grade': 80.16877077096751},
 3324.0: {'final_grade': 50.6118278503,
  'fundamental_grade': 65.66437438077773,
  'technology_grade': 50.0676193237,
  'technical_grade': 61.28605168203767},
 3325.0: {'final_grade': 60.00622407765019,
  'fundamental_grade': 58.347535217426426,
  'technology_grade': 38.415004675053716,
  'technical_grade': 66.95422504416352},
 3333.0: {'final_grade': 83.39946131366787,
  'fundamental_grade': 85.78373785011502,
  'technology_grade': 55.9228668213,
  'technical_grade': 99.0},
 3335.0: {'final_grade': 43.4530258179,
  'fundamental_grade': 72.77043695726101,
  'technology_grade': 26.793124770045097,
  'technical_grade': 43.4108543396},
 3337.0: {'final_grade': 53.2686729431,
  'fundamental_grade': 77.85071443054052,
  'technology_grade': 48.8054084778,
  'technical_grade': 43.4108543396},
 3338.0: {'final_grade': 46.9490966797,
  'fundamental_grade': 63.51098989666548,
  'technology_grade': 52.5920372009,
  'technical_grade': 43.4108543396},
 3346.0: {'final_grade': 58.51986232256557,
  'fundamental_grade': 72.86835693668375,
  'technology_grade': 58.9030799866,
  'technical_grade': 57.617314694250396},
 3369.0: {'final_grade': 94.45542563067255,
  'fundamental_grade': 99.0,
  'technology_grade': 61.35494654628362,
  'technical_grade': 78.48160603701587},
 3375.0: {'final_grade': 73.6324385643881,
  'fundamental_grade': 75.82442109201781,
  'technology_grade': 74.85837672816321,
  'technical_grade': 63.50000033156445},
 3376.0: {'final_grade': 61.949829366400785,
  'fundamental_grade': 71.33663411384208,
  'technology_grade': 58.66477713417036,
  'technical_grade': 63.384670011647096},
 3377.0: {'final_grade': 49.702381134,
  'fundamental_grade': 69.81386144120394,
  'technology_grade': 38.55853464347599,
  'technical_grade': 59.48566410435647},
 3379.0: {'final_grade': 98.76214173460914,
  'fundamental_grade': 92.7187323577775,
  'technology_grade': 81.43066088203535,
  'technical_grade': 86.57478784769708},
 3380.0: {'final_grade': 77.39933498260582,
  'fundamental_grade': 83.00770865348963,
  'technology_grade': 65.60030736265418,
  'technical_grade': 69.48190162029205},
 3381.0: {'final_grade': 77.36231154081729,
  'fundamental_grade': 83.83413964427255,
  'technology_grade': 58.19133886419219,
  'technical_grade': 79.72610158080116},
 3382.0: {'final_grade': 56.1255149841,
  'fundamental_grade': 58.94689037844795,
  'technology_grade': 57.2201347351,
  'technical_grade': 60.689100507161335},
 3384.0: {'final_grade': 43.0547599792,
  'fundamental_grade': 58.10456469979433,
  'technology_grade': 41.50052185653189,
  'technical_grade': 43.4108543396},
 3385.0: {'final_grade': 84.22314548066927,
  'fundamental_grade': 99.0,
  'technology_grade': 62.4793395996,
  'technical_grade': 82.77789477685202},
 3386.0: {'final_grade': 49.6952133179,
  'fundamental_grade': 55.07329266636699,
  'technology_grade': 59.30479493957333,
  'technical_grade': 41.2790679932},
 3388.0: {'final_grade': 62.85425080440879,
  'fundamental_grade': 49.7548027039,
  'technology_grade': 49.82998733608137,
  'technical_grade': 87.64679963108945},
 3389.0: {'final_grade': 70.94403012731557,
  'fundamental_grade': 99.0,
  'technology_grade': 55.1164550781,
  'technical_grade': 59.14978920514329},
 3390.0: {'final_grade': 59.848778921376166,
  'fundamental_grade': 52.914604187,
  'technology_grade': 50.1377410889,
  'technical_grade': 98.63164811270923},
 3391.0: {'final_grade': 61.03325673148084,
  'fundamental_grade': 92.80666669125961,
  'technology_grade': 59.0082626343,
  'technical_grade': 66.98330395169467},
 3393.0: {'final_grade': 44.59927639709687,
  'fundamental_grade': 66.46018105925222,
  'technology_grade': 19.0459041595,
  'technical_grade': 70.4947270034705},
 3394.0: {'final_grade': 46.3346214294,
  'fundamental_grade': 43.5816421509,
  'technology_grade': 49.09096807311343,
  'technical_grade': 58.000130924110316},
 3396.0: {'final_grade': 69.49969222190242,
  'fundamental_grade': 59.16795780994225,
  'technology_grade': 62.79442876681673,
  'technical_grade': 93.59764536518105},
 3397.0: {'final_grade': 63.94177753172254,
  'fundamental_grade': 97.60742616221137,
  'technology_grade': 50.0676193237,
  'technical_grade': 54.160730662808454},
 3398.0: {'final_grade': 73.08626131292294,
  'fundamental_grade': 38.0045013428,
  'technology_grade': 80.27869998554843,
  'technical_grade': 99.0},
 3399.0: {'final_grade': 86.71651452897862,
  'fundamental_grade': 55.63336513472607,
  'technology_grade': 73.54725548085136,
  'technical_grade': 93.78987271031912},
 3400.0: {'final_grade': 44.183789190485356,
  'fundamental_grade': 56.12015525455061,
  'technology_grade': 24.081978429865977,
  'technical_grade': 77.85467570863658},
 3401.0: {'final_grade': 76.2511897751601,
  'fundamental_grade': 68.40441699708944,
  'technology_grade': 62.25641388213562,
  'technical_grade': 99.0},
 3403.0: {'final_grade': 40.94089161698376,
  'fundamental_grade': 65.8474096619477,
  'technology_grade': 48.272683538489815,
  'technical_grade': 44.9612388611},
 3404.0: {'final_grade': 47.635319346524916,
  'fundamental_grade': 73.18767918994129,
  'technology_grade': 53.8542442322,
  'technical_grade': 59.32753912124514},
 3405.0: {'final_grade': 44.3903808594,
  'fundamental_grade': 37.12923115014584,
  'technology_grade': 49.226146698,
  'technical_grade': 48.0620155334},
 3406.0: {'final_grade': 51.1253089905,
  'fundamental_grade': 61.17712251673161,
  'technology_grade': 72.42985562820334,
  'technical_grade': 63.34046935531368},
 3407.0: {'final_grade': 49.39835191619682,
  'fundamental_grade': 51.20599834984991,
  'technology_grade': 42.036091082946825,
  'technical_grade': 74.67060063743355},
 3408.0: {'final_grade': 60.442973104516554,
  'fundamental_grade': 31.0676689148,
  'technology_grade': 60.9366378784,
  'technical_grade': 73.38265343347379},
 3409.0: {'final_grade': 52.491750406450706,
  'fundamental_grade': 44.45009296829396,
  'technology_grade': 47.64853872262587,
  'technical_grade': 90.56443637502707},
 3410.0: {'final_grade': 70.05007411905173,
  'fundamental_grade': 45.6749343872,
  'technology_grade': 53.171824486273294,
  'technical_grade': 84.62868976687471},
 3411.0: {'final_grade': 65.30975199100531,
  'fundamental_grade': 57.40528618451899,
  'technology_grade': 73.74284619612907,
  'technical_grade': 73.65974550341151},
 3412.0: {'final_grade': 68.36351697049469,
  'fundamental_grade': 34.0094947815,
  'technology_grade': 76.65281780243185,
  'technical_grade': 93.67510939989913},
 3413.0: {'final_grade': 69.52737409035066,
  'fundamental_grade': 99.0,
  'technology_grade': 35.25872904589595,
  'technical_grade': 62.06162747550578},
 3414.0: {'final_grade': 43.0238037109,
  'fundamental_grade': 42.56679816867435,
  'technology_grade': 48.90440977077084,
  'technical_grade': 43.4108543396},
 3415.0: {'final_grade': 68.82233340447374,
  'fundamental_grade': 58.31207273957288,
  'technology_grade': 63.49170256175582,
  'technical_grade': 67.0345780550992},
 3421.0: {'final_grade': 90.2896432743158,
  'fundamental_grade': 93.09523566924139,
  'technology_grade': 60.892066399953066,
  'technical_grade': 90.03380044769466},
 3422.0: {'final_grade': 38.3493690491,
  'fundamental_grade': 32.48290785152159,
  'technology_grade': 34.55464295740947,
  'technical_grade': 79.61124373123272},
 3424.0: {'final_grade': 58.89129108360249,
  'fundamental_grade': 34.7174301147,
  'technology_grade': 58.2369155884,
  'technical_grade': 68.11782665765176},
 3426.0: {'final_grade': 25.7958812714,
  'fundamental_grade': 34.41895281566589,
  'technology_grade': 12.6220884323,
  'technical_grade': 51.84344675028423},
 3427.0: {'final_grade': 74.4389635203182,
  'fundamental_grade': 89.62475100325531,
  'technology_grade': 55.1164550781,
  'technical_grade': 77.11917051855202},
 3438.0: {'final_grade': 37.0368614197,
  'fundamental_grade': 12.670372903021754,
  'technology_grade': 48.8054084778,
  'technical_grade': 73.8101403169526},
 3439.0: {'final_grade': 43.9206809998,
  'fundamental_grade': 40.693714578567594,
  'technology_grade': 57.41862048485014,
  'technical_grade': 56.422535125251095},
 3442.0: {'final_grade': 44.557780950352885,
  'fundamental_grade': 47.41430819076544,
  'technology_grade': 29.488543556071043,
  'technical_grade': 80.76382016247621},
 3445.0: {'final_grade': 48.49157797774298,
  'fundamental_grade': 41.94574360883829,
  'technology_grade': 63.19576289286876,
  'technical_grade': 83.46341582625422},
 3455.0: {'final_grade': 52.522528404894,
  'fundamental_grade': 80.7821766756837,
  'technology_grade': 49.6468811035,
  'technical_grade': 49.839701012404966},
 3459.0: {'final_grade': 81.73058784603181,
  'fundamental_grade': 84.24428328279693,
  'technology_grade': 53.8542442322,
  'technical_grade': 83.13457223121239},
 3460.0: {'final_grade': 43.2395515442,
  'fundamental_grade': 53.94793716396464,
  'technology_grade': 53.0127716064,
  'technical_grade': 42.2480621338},
 3461.0: {'final_grade': 53.9767456055,
  'fundamental_grade': 55.2113761902,
  'technology_grade': 58.6225891113,
  'technical_grade': 48.2692298889},
 3462.0: {'final_grade': 45.3108901978,
  'fundamental_grade': 70.88937911739612,
  'technology_grade': 60.6056025833924,
  'technical_grade': 46.67803551883475},
 3466.0: {'final_grade': 54.37903275556698,
  'fundamental_grade': 38.827053805909514,
  'technology_grade': 42.036091082946825,
  'technical_grade': 80.25749366314648},
 3469.0: {'final_grade': 68.90548642592316,
  'fundamental_grade': 53.513553046682816,
  'technology_grade': 59.69719062601189,
  'technical_grade': 78.33517616020046},
 3471.0: {'final_grade': 47.2099304199,
  'fundamental_grade': 37.8760375977,
  'technology_grade': 82.3529466635426,
  'technical_grade': 45.1923065186},
 3473.0: {'final_grade': 47.17687815383932,
  'fundamental_grade': 84.78441888371864,
  'technology_grade': 70.39379318184572,
  'technical_grade': 44.9612388611},
 3484.0: {'final_grade': 99.0,
  'fundamental_grade': 99.0,
  'technology_grade': 63.12496615465702,
  'technical_grade': 99.0},
 3487.0: {'final_grade': 63.07608509127242,
  'fundamental_grade': 74.54536491395828,
  'technology_grade': 18.5123958588,
  'technical_grade': 99.0},
 3498.0: {'final_grade': 56.64833116748701,
  'fundamental_grade': 36.9262542725,
  'technology_grade': 28.933622303713538,
  'technical_grade': 66.62658704614931},
 3522.0: {'final_grade': 82.82688248315249,
  'fundamental_grade': 99.0,
  'technology_grade': 61.97404567602966,
  'technical_grade': 79.86529944275493},
 3526.0: {'final_grade': 78.72754914287037,
  'fundamental_grade': 33.62091457002151,
  'technology_grade': 60.46947621201977,
  'technical_grade': 92.94444721401334},
 3616.0: {'final_grade': 30.224060639229474,
  'fundamental_grade': 34.13238749471759,
  'technology_grade': 21.701705006602314,
  'technical_grade': 71.34465514872684},
 3622.0: {'final_grade': 60.61514778030469,
  'fundamental_grade': 32.68298527952009,
  'technology_grade': 55.9228668213,
  'technical_grade': 81.2264469043619},
 3719.0: {'final_grade': 69.8923466583717,
  'fundamental_grade': 88.47268196029498,
  'technology_grade': 45.52414272459845,
  'technical_grade': 65.6377337541835},
 3720.0: {'final_grade': 76.4516136165119,
  'fundamental_grade': 79.84289560388514,
  'technology_grade': 66.05889594787176,
  'technical_grade': 68.84698402702954},
 3721.0: {'final_grade': 97.09284619888223,
  'fundamental_grade': 82.65291163971594,
  'technology_grade': 76.20280992932754,
  'technical_grade': 99.0},
 3722.0: {'final_grade': 78.7072899548325,
  'fundamental_grade': 77.408034527485,
  'technology_grade': 62.4793395996,
  'technical_grade': 84.81416729341873},
 3725.0: {'final_grade': 66.93511455863006,
  'fundamental_grade': 34.95371429900244,
  'technology_grade': 13.8842973709,
  'technical_grade': 99.0},
 3729.0: {'final_grade': 52.528478575997354,
  'fundamental_grade': 55.53685999936657,
  'technology_grade': 63.82606769803025,
  'technical_grade': 56.90185211102821},
 3731.0: {'final_grade': 80.8960340259188,
  'fundamental_grade': 26.4205015667458,
  'technology_grade': 62.25505140398419,
  'technical_grade': 99.0},
 3733.0: {'final_grade': 48.5088615417,
  'fundamental_grade': 68.63961027464623,
  'technology_grade': 68.43924432888863,
  'technical_grade': 42.5},
 3738.0: {'final_grade': 50.1675834656,
  'fundamental_grade': 41.5525398254,
  'technology_grade': 60.9366378784,
  'technical_grade': 48.0769233704},
 3781.0: {'final_grade': 49.84609944606391,
  'fundamental_grade': 28.2697505951,
  'technology_grade': 60.46947621201977,
  'technical_grade': 86.65687217820175},
 3783.0: {'final_grade': 44.81140771365953,
  'fundamental_grade': 44.7884749129981,
  'technology_grade': 19.3538684845,
  'technical_grade': 83.71599013355876},
 3784.0: {'final_grade': 57.81331125849139,
  'fundamental_grade': 27.1298852513649,
  'technology_grade': 76.33518159529167,
  'technical_grade': 68.9293828391997},
 3785.0: {'final_grade': 36.2309570312,
  'fundamental_grade': 54.327431716260946,
  'technology_grade': 18.9331321716,
  'technical_grade': 46.904357708185834},
 3786.0: {'final_grade': 56.07895271671266,
  'fundamental_grade': 33.190767103184065,
  'technology_grade': 12.2013521194,
  'technical_grade': 98.82589513987153},
 3788.0: {'final_grade': 99.0,
  'fundamental_grade': 42.8464202881,
  'technology_grade': 74.14377271901091,
  'technical_grade': 99.0},
 3791.0: {'final_grade': 23.3957328796,
  'fundamental_grade': 29.41588748754137,
  'technology_grade': 65.18184249354977,
  'technical_grade': 43.0769233704},
 3792.0: {'final_grade': 51.02668767500553,
  'fundamental_grade': 54.654466932453545,
  'technology_grade': 18.9331321716,
  'technical_grade': 62.329784821001184},
 3796.0: {'final_grade': 60.78095479960872,
  'fundamental_grade': 77.12403222416313,
  'technology_grade': 53.4335098267,
  'technical_grade': 56.830520184385605},
 3168.0: {'final_grade': 84.99037973003742,
  'fundamental_grade': 72.0488926280633,
  'technology_grade': 73.052723705298,
  'technical_grade': 99.0}}

In [5]:
temp = df[df['ico_id'] == 2974]

In [16]:
temp.dtypes

id                            int64
ico_id                        int64
date                         object
final_grade                 float64
fundamental_grade           float64
technology_grade            float64
technical_grade             float64
created_at           datetime64[ns]
updated_at           datetime64[ns]
dtype: object

In [34]:
temp = temp.sort_values('date', ascending=False)

In [35]:
temp

,id,ico_id,date,final_grade,fundamental_grade,technology_grade,technical_grade,created_at,updated_at
1176,1440306,2974,2020-01-01,57.736813,44.951561,70.964188,57.307693,2020-01-01 06:40:01,2020-01-01 06:40:01
1069,1431639,2974,2019-12-31,57.736813,44.951561,70.964188,57.307693,2019-12-31 23:55:00,2019-12-31 23:55:00
963,1315195,2974,2019-12-30,58.539131,47.921299,73.324287,54.494381,2019-12-30 23:59:00,2019-12-30 23:59:00
855,1161517,2974,2019-12-29,50.445061,48.138794,65.993263,37.592594,2019-12-29 23:59:00,2019-12-29 23:59:00
777,1038645,2974,2019-12-28,62.554829,63.587215,75.361488,47.346367,2019-12-28 23:59:00,2019-12-28 23:59:00
641,886914,2974,2019-12-27,52.156704,56.034515,66.310158,47.238373,2019-12-27 23:59:00,2019-12-27 23:59:00
534,732834,2974,2019-12-26,57.350170,55.360977,70.521606,44.512196,2019-12-26 23:59:00,2019-12-26 23:59:00
427,583676,2974,2019-12-25,57.526321,60.920681,65.585587,46.409573,2019-12-25 23:59:00,2019-12-25 23:59:00
320,429596,2974,2019-12-24,57.757690,53.577026,72.506889,47.500000,2019-12-24 23:59:00,2019-12-24 23:59:00
213,277763,2974,2019-12-23,54.141052,65.122185,67.030304,43.218086,2019-12-23 23:59:00,2019-12-23 23:59:00
106,172903,2974,2019-12-20,54.732990,52.033955,71.664337,40.919281,2019-12-20 22:57:00,2019-12-20 22:57:00
0,74837,2974,2019-12-19,53.879967,62.324734,69.777496,30.253624,2019-12-19 23:59:00,2019-12-19 23:59:00

In [57]:
res = minmax_scaling(temp[['final_grade']], columns=['final_grade'], min_val=temp['final_grade'].min().min(), max_val=99)

In [60]:
res.iloc[0][0]

79.68183647435013

In [48]:
temp

,id,ico_id,date,final_grade,fundamental_grade,technology_grade,technical_grade,created_at,updated_at
1176,1440306,2974,2020-01-01,57.736813,44.951561,70.964188,57.307693,2020-01-01 06:40:01,2020-01-01 06:40:01
1069,1431639,2974,2019-12-31,57.736813,44.951561,70.964188,57.307693,2019-12-31 23:55:00,2019-12-31 23:55:00
963,1315195,2974,2019-12-30,58.539131,47.921299,73.324287,54.494381,2019-12-30 23:59:00,2019-12-30 23:59:00
855,1161517,2974,2019-12-29,50.445061,48.138794,65.993263,37.592594,2019-12-29 23:59:00,2019-12-29 23:59:00
777,1038645,2974,2019-12-28,62.554829,63.587215,75.361488,47.346367,2019-12-28 23:59:00,2019-12-28 23:59:00
641,886914,2974,2019-12-27,52.156704,56.034515,66.310158,47.238373,2019-12-27 23:59:00,2019-12-27 23:59:00
534,732834,2974,2019-12-26,57.350170,55.360977,70.521606,44.512196,2019-12-26 23:59:00,2019-12-26 23:59:00
427,583676,2974,2019-12-25,57.526321,60.920681,65.585587,46.409573,2019-12-25 23:59:00,2019-12-25 23:59:00
320,429596,2974,2019-12-24,57.757690,53.577026,72.506889,47.500000,2019-12-24 23:59:00,2019-12-24 23:59:00
213,277763,2974,2019-12-23,54.141052,65.122185,67.030304,43.218086,2019-12-23 23:59:00,2019-12-23 23:59:00
106,172903,2974,2019-12-20,54.732990,52.033955,71.664337,40.919281,2019-12-20 22:57:00,2019-12-20 22:57:00
0,74837,2974,2019-12-19,53.879967,62.324734,69.777496,30.253624,2019-12-19 23:59:00,2019-12-19 23:59:00

In [56]:
temp['final_grade'].min().min()

50.44506073

In [49]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=(range(6)))
s2 = pd.Series([10, 9, 8, 7, 6, 5], index=(range(6)))
df = pd.DataFrame(s1, columns=['s1'])
df['s2'] = s2
df

   s1  s2
0   1  10
1   2   9
2   3   8
3   4   7
4   5   6
5   6   5

In [52]:
minmax_scaling(df, columns=['s1', 's2'], min_val=30,max_val=100)

      s1     s2
0   30.0  100.0
1   44.0   86.0
2   58.0   72.0
3   72.0   58.0
4   86.0   44.0
5  100.0   30.0