In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import json
from cryptocompy import coin,price
import tqdm
import seaborn as sns
sns.set();

import io
import requests
import json

from datetime import datetime
import time
from time import gmtime, strftime

from sklearn import metrics
from fbprophet import Prophet
plt.rcParams["figure.figsize"] = [14,8]
pd.set_option('float_format', '{:f}'.format)

import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

import datetime
from datetime import datetime as dt
from datetime import timedelta


from tqdm import tqdm_notebook
from livelossplot.keras import PlotLossesCallback


from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import metrics
#from xgboost import XGBRegressor
from catboost import CatBoostRegressor, Pool, cv
import catboost
from sklearn.ensemble import RandomForestRegressor

from keras.models import Sequential
from keras.layers import Dense
from keras.models import model_from_json
#from sklearn.cross_validation import cross_val_score
#from sklearn.grid_search import GridSearchCV
from numpy.random import seed
seed(1)
from tensorflow import set_random_seed
set_random_seed(1)

from keras.models import Sequential  
from keras.layers.core import Dense, Activation  
from keras.layers.recurrent import LSTM
from keras.layers.advanced_activations import LeakyReLU

from keras import optimizers
from keras import backend as K

adam = optimizers.Adam(lr=0.01, clipnorm=1.)

def root_mean_squared_error(y_true, y_pred):
    return K.sqrt(K.mean(K.square(y_pred - y_true), axis=-1)) 
def nn_r2_score(y_true, y_pred):
    total_error = K.sum(K.square( y_true - K.mean(y_true) ) )
    residual_error = K.sum(K.square( y_true - y_pred ))
    R_squared = 1 - (residual_error / total_error)
    return -R_squared


from math import sin, cos

from gaft import GAEngine
from gaft.components import BinaryIndividual,DecimalIndividual
from gaft.components import Population
from gaft.operators import TournamentSelection, LinearRankingSelection
from gaft.operators import UniformCrossover
from gaft.operators import FlipBitMutation
from gaft.analysis import ConsoleOutput

# Analysis plugin base class.
from gaft.plugin_interfaces.analysis import OnTheFlyAnalysis

# Built-in best fitness analysis.
from gaft.analysis.fitness_store import FitnessStore

import MySQLdb 
import sshtunnel
from sshtunnel import SSHTunnelForwarder

Using TensorFlow backend.

In [3]:
df = pd.DataFrame()
d1 = pd.DataFrame()
d2 = pd.DataFrame()
d3 = pd.DataFrame()
tech1 = pd.DataFrame()
tech2 = pd.DataFrame()
tech3 = pd.DataFrame()
tech4 = pd.DataFrame()

with SSHTunnelForwarder(('206.189.186.74', 22), ssh_password='crypto1234', ssh_username='aagam', remote_bind_address=('127.0.0.1', 3306)) as server:
    conn = MySQLdb.connect(host='localhost', port=server.local_bind_port, user='ianbalina', passwd='5!sT3jt26K%tFN*W',db='ianbalina')
    cursor = conn.cursor()
    
    #cursor.execute("SELECT * FROM ianbalina.ico_price_daily_summaries;") 
    #m = cursor.fetchone()
    query = '''SELECT * FROM ianbalina.ico_price_daily_summaries;'''
    data = pd.read_sql_query(query, conn)
    df = pd.concat([df,data])
    
    
    query = '''SELECT * FROM ianbalina.ico_grade_history;'''
    data = pd.read_sql_query(query, conn)
    d1 = pd.concat([d1,data])
    
    query = '''SELECT * FROM ianbalina.ico_analytics;'''
    data = pd.read_sql_query(query, conn)
    d2 = pd.concat([d2,data])
    
    query = '''SELECT * FROM ianbalina.tech_scorecard_answers;'''
    data = pd.read_sql_query(query, conn)
    tech1 = pd.concat([tech1,data])
    
    query = '''SELECT * FROM ianbalina.tech_scorecard_categories;'''
    data = pd.read_sql_query(query, conn)
    tech2 = pd.concat([tech2,data])
    
    query = '''SELECT * FROM ianbalina.tech_scorecard_options;'''
    data = pd.read_sql_query(query, conn)
    tech3 = pd.concat([tech3,data])
    
    query = '''SELECT * FROM ianbalina.tech_scorecard_questions;'''
    data = pd.read_sql_query(query, conn)
    tech4 = pd.concat([tech4,data])
    
    query = '''SELECT * FROM ianbalina.icos;'''
    data = pd.read_sql_query(query, conn)
    d3 = pd.concat([d3,data])
    
    
    conn.close()

I1004 08:35:42.381536 12004 transport.py:1819] Connected (version 2.0, client OpenSSH_7.6p1)
I1004 08:35:45.168134 12004 transport.py:1819] Authentication (password) successful!

In [15]:
d1 = d1[d1['date'] == d1['date'].sort_values().iloc[-1]]

In [16]:
ids = d3['id'][d3['published_at'].notnull()].unique().tolist()
coin = []
for id in ids:
    coin.append(df['ico_symbol'][df['ico_id'] == id].unique().tolist()[0])
    
temp = pd.DataFrame()
temp['Coin'] = coin
temp['Score'] = d1['tech_scorecard_score'][d1['ico_id'].isin(ids)].values

temp = pd.DataFrame()
#d1 = d1[d1['date'] == datetime.date(2019, 9, 19)]
for coin in df['ico_symbol'].unique().tolist():
    num = df['ico_id'][df['ico_symbol'] == coin].unique().tolist()
    t = d1['tech_scorecard_score'][d1['ico_id'].isin(num)]
    if len(t)>0:
        t = t.iloc[-1]
        temp = pd.concat([temp, pd.DataFrame([coin,t]).T])

In [17]:
t2 = []
coins = []
for coin in temp['Coin'].tolist():
    t1 = df['ico_id'][df['ico_symbol'] == coin].unique().tolist()
    x = d2['all_time_growth_rate'][d2['ico_id'].isin(t1)].dropna().unique().tolist()
    if len(x) != 0:
        t2.append(x[0])
        coins.append(coin)

In [18]:
t2 = pd.DataFrame([coins,t2])
t2 = t2.T
t2.columns = ['Coin','ROI']
temp.columns = ['Coin','Score']

temp = pd.merge(temp,t2)

In [19]:
temp

     Coin     Score          ROI
0     TRX 81.818200   647.239500
1     ONT 70.909100   200.850100
2     ETH 98.181800 57982.019500
3     NEO 85.454500  3579.078100
4     BNB 90.909100 13516.003900
5     ADA 87.272700  1479.738200
6     LSK 74.545500  1031.416900
7     REP 74.545500  1288.814800
8    QTUM 67.272700   461.292900
9     OMG 74.545500    53.214800
10    BAT 40.000000     6.450500
11    EOS 80.000000   448.430000
12    XRP 78.181800  4093.043900
13    BTC 98.181800  6094.442400
14    BCH 65.454500   -28.177600
15    LTC 56.363600  1215.364300
16    XLM 81.818200  2818.755600
17    XMR 70.909100  2150.707000
18   DASH 85.454500   -43.652100
19    BSV 52.727300    -6.786400
20    XTZ 81.818200    96.713200
21  MIOTA 80.000000   -57.544700
22    ETC 69.090900   -21.371100
23    ZEC 80.000000   -99.136200
24   DOGE 40.000000   -18.476400
25    BTG 65.454500   -56.563000
26    DCR 72.727300   -31.713300
27    BTT 45.454500   248.566700
28     HT 23.636400   107.439800
29   ATOM 85.454500  2485.725300
30   VSYS 81.818200   209.637500

In [20]:
temp[['Score','ROI']] = temp[['Score','ROI']].astype('float64')
'Correlation: ', temp.corr().iloc[0,1]

('Correlation: ', 0.37550466314786785)

In [21]:
temp['Score_bins'] = pd.cut(temp['Score'],[-1,10,20,30,40,50,60,70,80,90,100], right=True)
temp['ROI_bins'] = pd.cut(temp['ROI'],[-100,0,6000000])

In [23]:
final = temp['ROI_bins'].groupby([temp['Score_bins'],temp['ROI_bins']]).count().unstack()
final

ROI_bins    (-100, 0]  (0, 6000000]
Score_bins
(20, 30]          nan      1.000000
(30, 40]     1.000000      1.000000
(40, 50]          nan      1.000000
(50, 60]     1.000000      1.000000
(60, 70]     3.000000      1.000000
(70, 80]     3.000000      7.000000
(80, 90]     1.000000      7.000000
(90, 100]         nan      3.000000

In [24]:
x = pd.DataFrame()
x['(-100, 0]'] = [0,0] + final.values[:,0].tolist()
x['(0, 6000000]'] = [0,0] + final.values[:,1].tolist()
x.index = ['(0,10]','(10,20]','(20,30]','(30,40]','(40,50]','(50,60]','(60,70]','(70,80]','(80,90]','(90,100]']
x['Accuracy'] = [0,0,0,50,0,50, 1/4*100, 7/10*100, 7/8*100, 100]

x.fillna(0,inplace=True)

In [25]:
x

          (-100, 0]  (0, 6000000]   Accuracy
(0,10]     0.000000      0.000000   0.000000
(10,20]    0.000000      0.000000   0.000000
(20,30]    0.000000      1.000000   0.000000
(30,40]    1.000000      1.000000  50.000000
(40,50]    0.000000      1.000000   0.000000
(50,60]    1.000000      1.000000  50.000000
(60,70]    3.000000      1.000000  25.000000
(70,80]    3.000000      7.000000  70.000000
(80,90]    1.000000      7.000000  87.500000
(90,100]   0.000000      3.000000 100.000000

In [15]:
tech1[tech1['ico_id'].isin(num)]

      id  tech_scorecard_question_id  ico_id  tech_scorecard_option_id                                        text_answer          created_at          updated_at
0      1                          26    3375                 69.000000                                               None 2019-07-28 18:28:37 2019-07-28 18:28:38
1      2                          27    3375                 71.000000                                               None 2019-07-28 18:28:37 2019-07-28 18:28:37
2      3                          28    3375                 73.000000                                               None 2019-07-28 18:28:37 2019-07-28 18:28:37
3      4                          29    3375                 75.000000                                               None 2019-07-28 18:28:40 2019-07-28 18:28:40
4      5                          30    3375                 77.000000                                               None 2019-07-28 18:28:40 2019-07-28 18:28:40
5      6                           1    3375                  3.000000                                               None 2019-07-28 18:28:44 2019-07-28 18:28:44
6      7                           2    3375                  6.000000                                               None 2019-07-28 18:28:48 2019-07-28 18:28:48
7      8                           3    3375                 10.000000                                               None 2019-07-28 18:28:50 2019-07-28 18:28:50
8      9                           4    3375                 12.000000                                               None 2019-07-28 18:28:52 2019-07-28 18:28:52
9     10                           5    3375                 15.000000                                               None 2019-07-28 18:28:58 2019-07-28 18:28:58
10    11                           7    3375                 21.000000                                               None 2019-07-28 18:29:00 2019-07-28 18:29:00
11    12                           8    3375                 23.000000                                               None 2019-07-28 18:29:03 2019-07-28 18:29:03
12    13                           9    3375                 27.000000                                               None 2019-07-28 18:29:11 2019-07-28 18:29:11
13    14                          10    3375                 31.000000                                               None 2019-07-28 18:29:21 2019-07-28 18:29:21
14    15                          11    3375                 33.000000                                               None 2019-07-28 18:29:33 2019-07-28 18:29:33
15    16                          12    3375                 35.000000                                               None 2019-07-28 18:29:34 2019-07-28 18:29:34
16    17                          13    3375                 37.000000                                               None 2019-07-28 18:29:36 2019-07-28 18:29:36
17    18                          14    3375                 39.000000                                               None 2019-07-28 18:29:40 2019-07-28 18:29:40
18    19                          16    3375                 43.000000                                               None 2019-07-28 18:29:43 2019-07-28 18:29:43
19    20                          17    3375                 45.000000                                               None 2019-07-28 18:29:43 2019-07-28 18:29:43
20    21                          18    3375                 48.000000                                               None 2019-07-28 18:29:46 2019-07-28 18:29:46
21    22                          19    3375                 51.000000                                               None 2019-07-28 18:29:46 2019-07-28 18:29:46
22    23                          20    3375                 54.000000                                               None 2019-07-28 18:29:48 2019-07-28 18:29:48
23    24                          21    3375                 57.000000                                               None 2019-07-28 18:29:48 2019-07-28 18:29:48
24    25                          22    3375                 60.000000                                               None 2019-07-28 18:29:51 2019-07-28 18:29:51
25    26                          23    3375                 63.000000                                               None 2019-07-28 18:29:52 2019-07-28 18:29:52
26    27                          24    3375                 67.000000                                               None 2019-07-28 18:29:54 2019-07-28 18:29:54
279  280                          31    3375                       nan                                               None 2019-08-08 19:56:48 2019-08-08 19:56:48
280  281                          32    3375                       nan  Bitcoin is the worlds first Peer-to-Peer Elec... 2019-08-08 22:12:38 2019-08-25 18:06:54
281  282                          15    3375                 41.000000                                               None 2019-08-10 08:01:52 2019-08-10 08:01:52
742  743                          25    3375                       nan  Website: https://bitcoin.org\nWhitepaper: http... 2019-08-25 18:06:54 2019-08-25 18:06:54

In [3]:
tech1

        id  tech_scorecard_question_id  ico_id  tech_scorecard_option_id                                        text_answer          created_at          updated_at
0        1                          26    3375                 69.000000                                               None 2019-07-28 18:28:37 2019-07-28 18:28:38
1        2                          27    3375                 71.000000                                               None 2019-07-28 18:28:37 2019-07-28 18:28:37
2        3                          28    3375                 73.000000                                               None 2019-07-28 18:28:37 2019-07-28 18:28:37
3        4                          29    3375                 75.000000                                               None 2019-07-28 18:28:40 2019-07-28 18:28:40
4        5                          30    3375                 77.000000                                               None 2019-07-28 18:28:40 2019-07-28 18:28:40
5        6                           1    3375                  3.000000                                               None 2019-07-28 18:28:44 2019-07-28 18:28:44
6        7                           2    3375                  6.000000                                               None 2019-07-28 18:28:48 2019-07-28 18:28:48
7        8                           3    3375                 10.000000                                               None 2019-07-28 18:28:50 2019-07-28 18:28:50
8        9                           4    3375                 12.000000                                               None 2019-07-28 18:28:52 2019-07-28 18:28:52
9       10                           5    3375                 15.000000                                               None 2019-07-28 18:28:58 2019-07-28 18:28:58
10      11                           7    3375                 21.000000                                               None 2019-07-28 18:29:00 2019-07-28 18:29:00
11      12                           8    3375                 23.000000                                               None 2019-07-28 18:29:03 2019-07-28 18:29:03
12      13                           9    3375                 27.000000                                               None 2019-07-28 18:29:11 2019-07-28 18:29:11
13      14                          10    3375                 31.000000                                               None 2019-07-28 18:29:21 2019-07-28 18:29:21
14      15                          11    3375                 33.000000                                               None 2019-07-28 18:29:33 2019-07-28 18:29:33
15      16                          12    3375                 35.000000                                               None 2019-07-28 18:29:34 2019-07-28 18:29:34
16      17                          13    3375                 37.000000                                               None 2019-07-28 18:29:36 2019-07-28 18:29:36
17      18                          14    3375                 39.000000                                               None 2019-07-28 18:29:40 2019-07-28 18:29:40
18      19                          16    3375                 43.000000                                               None 2019-07-28 18:29:43 2019-07-28 18:29:43
19      20                          17    3375                 45.000000                                               None 2019-07-28 18:29:43 2019-07-28 18:29:43
20      21                          18    3375                 48.000000                                               None 2019-07-28 18:29:46 2019-07-28 18:29:46
21      22                          19    3375                 51.000000                                               None 2019-07-28 18:29:46 2019-07-28 18:29:46
22      23                          20    3375                 54.000000                                               None 2019-07-28 18:29:48 2019-07-28 18:29:48
23      24                          21    3375                 57.000000                                               None 2019-07-28 18:29:48 2019-07-28 18:29:48
24      25                          22    3375                 60.000000                                               None 2019-07-28 18:29:51 2019-07-28 18:29:51
25      26                          23    3375                 63.000000                                               None 2019-07-28 18:29:52 2019-07-28 18:29:52
26      27                          24    3375                 67.000000                                               None 2019-07-28 18:29:54 2019-07-28 18:29:54
27      28                          26    3306                 69.000000                                               None 2019-07-28 18:32:45 2019-07-28 18:32:45
28      29                          27    3306                 71.000000                                               None 2019-07-28 18:32:45 2019-07-28 18:32:45
29      30                          28    3306                 73.000000                                               None 2019-07-28 18:32:47 2019-07-28 18:32:47
30      31                          29    3306                 75.000000                                               None 2019-07-28 18:32:48 2019-07-28 18:32:48
31      32                          30    3306                 77.000000                                               None 2019-07-28 18:32:49 2019-07-28 18:32:49
32      33                           1    3306                  3.000000                                               None 2019-07-28 18:32:50 2019-07-28 18:32:50
33      34                           2    3306                  6.000000                                               None 2019-07-28 18:32:51 2019-07-28 18:32:51
34      35                           3    3306                 10.000000                                               None 2019-07-28 18:32:53 2019-07-28 18:32:53
35      36                           4    3306                 12.000000                                               None 2019-07-28 18:32:55 2019-07-28 18:32:55
36      37                           5    3306                 15.000000                                               None 2019-07-28 18:32:59 2019-07-28 18:32:59
37      38                           7    3306                 21.000000                                               None 2019-07-28 18:32:59 2019-07-28 18:32:59
38      39                           8    3306                 23.000000                                               None 2019-07-28 18:33:01 2019-07-28 18:33:01
39      40                           9    3306                 27.000000                                               None 2019-07-28 18:33:05 2019-07-28 18:33:05
40      41                          10    3306                 31.000000                                               None 2019-07-28 18:33:07 2019-07-28 18:33:07
41      42                          11    3306                 33.000000                                               None 2019-07-28 18:33:13 2019-07-28 18:33:13
42      43                          12    3306                 35.000000                                               None 2019-07-28 18:33:13 2019-07-28 18:33:13
43      44                          13    3306                 37.000000                                               None 2019-07-28 18:33:13 2019-07-28 18:33:13
44      45                          14    3306                 39.000000                                               None 2019-07-28 18:33:13 2019-07-28 18:33:13
45      46                          15    3306                 41.000000                                               None 2019-07-28 18:33:13 2019-07-28 18:33:13
46      47                          17    3306                 45.000000                                               None 2019-07-28 18:33:16 2019-07-28 18:33:16
47      48                          16    3306                 43.000000                                               None 2019-07-28 18:33:16 2019-07-28 18:33:16
48      49                          18    3306                 48.000000                                               None 2019-07-28 18:33:18 2019-07-28 18:33:18
49      50                          19    3306                 51.000000                                               None 2019-07-28 18:33:18 2019-07-28 18:33:18
50      51                          20    3306                 54.000000                                               None 2019-07-28 18:33:19 2019-07-28 18:33:19
51      52                          21    3306                 57.000000                                               None 2019-07-28 18:33:21 2019-07-28 18:33:21
52      53                          22    3306                 60.000000                                               None 2019-07-28 18:33:24 2019-07-28 18:33:24
53      54                          23    3306                 63.000000                                               None 2019-07-28 18:33:24 2019-07-28 18:33:24
54      55                          24    3306                 67.000000                                               None 2019-07-28 18:33:26 2019-07-28 18:33:28
55      56                          26    3369                 69.000000                                               None 2019-07-28 18:43:50 2019-07-28 18:43:50
56      57                          27    3369                 71.000000                                               None 2019-07-28 18:43:50 2019-07-28 18:43:50
57      58                          28    3369                 73.000000                                               None 2019-07-28 18:43:50 2019-07-28 18:43:50
58      59                          29    3369                 75.000000                                               None 2019-07-28 18:43:50 2019-07-28 18:43:50
59      60                          30    3369                 77.000000                                               None 2019-07-28 18:43:50 2019-07-28 18:43:50
60      61                           1    3369                  2.000000                                               None 2019-07-28 18:44:03 2019-08-25 19:14:14
61      62                           2    3369                  5.000000                                               None 2019-07-28 18:44:04 2019-08-25 19:14:14
62      63                           3    3369                  8.000000                                               None 2019-07-28 18:44:07 2019-08-25 19:14:18
63      64                           4    3369                 12.000000                                               None 2019-07-28 18:44:08 2019-07-28 18:44:08
64      65                           5    3369                 15.000000                                               None 2019-07-28 18:44:13 2019-07-28 18:51:24
65      66                           7    3369                 21.000000                                               None 2019-07-28 18:44:21 2019-07-28 18:44:21
66      67                           8    3369                 23.000000                                               None 2019-07-28 18:44:25 2019-08-10 09:52:00
67      68                           9    3369                 27.000000                                               None 2019-07-28 18:44:30 2019-08-10 09:33:58
68      69                          10    3369                 30.000000                                               None 2019-07-28 18:44:36 2019-07-28 18:51:31
69      70                          11    3369                 33.000000                                               None 2019-07-28 18:44:41 2019-07-28 18:44:41
70      71                          12    3369                 35.000000                                               None 2019-07-28 18:44:46 2019-07-28 18:44:46
71      72                          13    3369                 37.000000                                               None 2019-07-28 18:44:46 2019-07-28 18:44:46
72      73                          14    3369                 39.000000                                               None 2019-07-28 18:44:46 2019-07-28 18:44:46
73      74                          15    3369                 41.000000                                               None 2019-07-28 18:44:47 2019-07-28 18:44:47
74      75                          16    3369                 43.000000                                               None 2019-07-28 18:44:49 2019-07-28 18:44:49
75      76                          17    3369                 45.000000                                               None 2019-07-28 18:44:49 2019-07-28 18:44:49
76      77                          18    3369                 47.000000                                               None 2019-07-28 18:44:51 2019-07-28 20:02:16
77      78                          19    3369                 50.000000                                               None 2019-07-28 18:44:52 2019-07-28 20:00:20
78      79                          20    3369                 54.000000                                               None 2019-07-28 18:44:59 2019-07-28 18:44:59
79      80                          21    3369                 57.000000                                               None 2019-07-28 18:44:59 2019-07-28 18:44:59
80      81                          22    3369                 60.000000                                               None 2019-07-28 18:45:02 2019-07-28 18:45:02
81      82                          23    3369                 63.000000                                               None 2019-07-28 18:45:04 2019-08-14 17:26:48
82      83                          24    3369                 66.000000                                               None 2019-07-28 18:45:04 2019-08-14 17:26:48
83      84                          26    3377                 69.000000                                               None 2019-07-28 20:03:56 2019-07-28 20:03:56
84      85                          27    3377                 71.000000                                               None 2019-07-28 20:03:56 2019-07-28 20:03:56
85      86                          28    3377                 73.000000                                               None 2019-07-28 20:03:59 2019-07-28 20:03:59
86      87                          29    3377                 75.000000                                               None 2019-07-28 20:03:59 2019-07-28 20:03:59
87      88                          30    3377                 77.000000                                               None 2019-07-28 20:03:59 2019-07-28 20:03:59
88      89                           1    3377                  2.000000                                               None 2019-07-28 20:04:04 2019-08-25 18:51:57
89      90                           2    3377                  5.000000                                               None 2019-07-28 20:04:07 2019-08-10 10:10:32
90      91                           3    3377                  8.000000                                               None 2019-07-28 20:04:14 2019-08-10 10:10:32
91      92                           4    3377                 12.000000                                               None 2019-07-28 20:04:17 2019-08-10 10:10:32
92      93                           5    3377                 14.000000                                               None 2019-07-28 20:05:16 2019-07-28 20:05:16
93      94                           8    3377                 24.000000                                               None 2019-07-28 20:05:19 2019-07-28 20:05:20
94      95                           9    3377                 27.000000                                               None 2019-07-28 20:05:56 2019-08-10 09:37:46
95      96                          10    3377                 30.000000                                               None 2019-07-28 20:06:01 2019-07-28 20:06:01
96      97                          11    3377                 33.000000                                               None 2019-07-28 20:06:06 2019-07-28 20:06:06
97      98                          12    3377                 35.000000                                               None 2019-07-28 20:06:07 2019-07-28 20:06:07
98      99                          13    3377                 37.000000                                               None 2019-07-28 20:06:11 2019-07-28 20:06:11
99     100                          14    3377                 38.000000                                               None 2019-07-28 20:06:12 2019-08-25 18:51:57
100    101                          15    3377                 40.000000                                               None 2019-07-28 20:06:13 2019-08-25 18:51:57
101    102                          16    3377                 43.000000                                               None 2019-07-28 20:06:18 2019-07-28 20:06:18
102    103                          17    3377                 45.000000                                               None 2019-07-28 20:06:22 2019-08-25 18:51:57
103    104                          18    3377                 47.000000                                               None 2019-07-28 20:06:49 2019-07-28 20:06:49
104    105                          19    3377                 49.000000                                               None 2019-07-28 20:06:50 2019-08-25 18:51:57
105    106                          20    3377                 54.000000                                               None 2019-07-28 20:06:56 2019-07-28 20:06:56
106    107                          21    3377                 57.000000                                               None 2019-07-28 20:06:57 2019-07-28 20:06:57
107    108                          22    3377                 58.000000                                               None 2019-07-28 20:06:59 2019-08-25 18:51:57
108    109                          23    3377                 61.000000                                               None 2019-07-28 20:07:01 2019-08-25 18:51:57
109    110                          24    3377                 64.000000                                               None 2019-07-28 20:07:05 2019-08-25 18:51:57
110    111                           7    3377                 20.000000                                               None 2019-07-28 20:07:18 2019-08-25 18:51:58
111    112                          26    3376                 69.000000                                               None 2019-07-28 20:07:50 2019-07-28 20:07:50
112    113                          27    3376                 71.000000                                               None 2019-07-28 20:07:50 2019-07-28 20:07:50
113    114                          28    3376                 73.000000                                               None 2019-07-28 20:07:50 2019-07-28 20:07:50
114    115                          29    3376                 75.000000                                               None 2019-07-28 20:07:50 2019-07-28 20:07:50
115    116                          30    3376                 77.000000                                               None 2019-07-28 20:07:50 2019-07-28 20:07:50
116    117                           1    3376                  2.000000                                               None 2019-07-28 20:08:18 2019-08-25 18:44:56
117    118                           2    3376                  5.000000                                               None 2019-07-28 20:08:18 2019-08-25 18:44:56
118    119                           3    3376                  8.000000                                               None 2019-07-28 20:08:19 2019-08-25 18:44:56
119    120                           4    3376                 11.000000                                               None 2019-07-28 20:08:21 2019-08-10 09:40:58

In [10]:
tech2

   id                                 title  scored  order created_at updated_at   short_title  binary_scale
0   1                            Innovation       1      1       None       None    Innovation           nan
1   2                          Architecture       1      2       None       None  Architecture           nan
2   3                          Code Quality       1      3       None       None  Code Quality           nan
3   4                               Mainnet       1      4       None       None       Mainnet           nan
4   5  Usability for Infrastruture Projects       1      5       None       None     Usability           nan
5   6                                  Team       1      6       None       None          Team           nan
6   7                            References       0      7       None       None          None           nan
7   8                     Initial Screening       0      0       None       None          None      1.000000
8   9                           Admin Notes       0      8       None       None          None           nan
9  10                    Technology Summary       0      0       None       None          None           nan

In [11]:
tech3

    id  tech_scorecard_question_id                option     score  order created_at updated_at
0    1                           1                   Bad  0.000000      1       None       None
1    2                           1                Medium  1.000000      2       None       None
2    3                           1                  Good  2.000000      3       None       None
3    4                           2        Too innovative  0.000000      1       None       None
4    5                           2                Medium  1.000000      2       None       None
5    6                           2               Regular  2.000000      3       None       None
6    7                           3             0% crypto  0.000000      1       None       None
7    8                           3                 1%-5%  1.000000      2       None       None
8    9                           3                6%-10%  3.000000      3       None       None
9   10                           3              Over 11%  5.000000      4       None       None
10  11                           4                    No -2.000000      1       None       None
11  12                           4                   Yes  2.000000      2       None       None
12  13                           5                   Bad  0.000000      1       None       None
13  14                           5                Medium  1.000000      2       None       None
14  15                           5                  Good  2.000000      3       None       None
15  19                           7                   Bad  0.000000      1       None       None
16  20                           7                Medium  1.000000      2       None       None
17  21                           7                  Good  2.000000      3       None       None
18  22                           8          Very complex  0.000000      1       None       None
19  23                           8       Not too complex  2.000000      2       None       None
20  24                           8                  Easy  2.000000      3       None       None
21  25                           8              Too easy  1.000000      4       None       None
22  26                           9      More than 1 hour  0.000000      1       None       None
23  27                           9             20-50 min  1.000000      2       None       None
24  28                           9      Less than 20 min  2.000000      3       None       None
25  29                          10                   Bad  0.000000      1       None       None
26  30                          10                Medium  2.000000      2       None       None
27  31                          10                  Good  4.000000      3       None       None
28  32                          11                    No  0.000000      1       None       None
29  33                          11                   Yes  2.000000      2       None       None
30  34                          12                    No  1.000000      1       None       None
31  35                          12                   Yes  2.000000      2       None       None
32  36                          13                   Yes -1.000000      1       None       None
33  37                          13                    No  0.000000      2       None       None
34  38                          14         Less than 10K  0.000000      1       None       None
35  39                          14         More than 10K  1.000000      2       None       None
36  40                          15          Less than 10  0.000000      1       None       None
37  41                          15          More than 10  2.000000      2       None       None
38  42                          16           Bad quality  0.000000      1       None       None
39  43                          16          Good quality  2.000000      2       None       None
40  44                          17                   Bad  0.000000      1       None       None
41  45                          17                  Good  2.000000      2       None       None
42  46                          18                   Bad  0.000000      1       None       None
43  47                          18                  Good  1.000000      2       None       None
44  48                          18           Outstanding  2.000000      3       None       None
45  49                          19                   Bad  0.000000      1       None       None
46  50                          19                  Good  1.000000      2       None       None
47  51                          19           Outstanding  2.000000      3       None       None
48  52                          20    6 months after TGE  0.000000      1       None       None
49  53                          20     1 month after TGE  2.000000      2       None       None
50  54                          20         Mainnet ready  5.000000      3       None       None
51  55                          21                    No  0.000000      1       None       None
52  56                          21                Medium  2.000000      2       None       None
53  57                          21  Yes (or blockchains)  5.000000      3       None       None
54  58                          22           Less than 3  0.000000      1       None       None
55  59                          22                    3+  1.000000      2       None       None
56  60                          22                    5+  2.000000      3       None       None
57  61                          23                Junior  0.000000      1       None       None
58  62                          23          Intermediate  1.000000      2       None       None
59  63                          23                Senior  2.000000      3       None       None
60  64                          24                  Poor  0.000000      1       None       None
61  65                          24            Reasonable  1.000000      2       None       None
62  66                          24                 Solid  2.000000      3       None       None
63  67                          24           Outstanding  3.000000      4       None       None
64  68                          25                  None       nan      1       None       None
65  69                          26                   Yes  0.000000      1       None       None
66  70                          26                    No  0.000000      2       None       None
67  71                          27                   Yes  0.000000      1       None       None
68  72                          27                    No  0.000000      2       None       None
69  73                          28                   Yes  0.000000      1       None       None
70  74                          28                    No  0.000000      2       None       None
71  75                          29                   Yes  0.000000      1       None       None
72  76                          29                    No  0.000000      2       None       None
73  77                          30                   Yes  0.000000      1       None       None
74  78                          30                    No  0.000000      2       None       None

In [12]:
tech4

    id  tech_scorecard_category_id                                           question  max_score  order created_at updated_at  type  visibility_private
0    1                           1               How have similar projects performed?          2      1       None       None     1                   0
1    2                           1                    Are there too many innovations?          2      2       None       None     1                   0
2    3                           1  Percentage of crypto users that will use the p...          5      3       None       None     1                   0
3    4                           1                             Is the project unique?          2      4       None       None     1                   0
4    5                           2          Overall feeling after reading whitepaper?          2      1       None       None     1                   0
5    7                           2                    Resistance to possible attacks?          2      2       None       None     1                   0
6    8                           2                    Complexity of the architecture?          2      3       None       None     1                   0
7    9                           2         Time taken to understand the architecture?          2      4       None       None     1                   0
8   10                           2  Overall feeling about the architecture after d...          4      5       None       None     1                   0
9   11                           3                        Is the project open source?          2      1       None       None     1                   0
10  12                           3  Does the project use good code like C,C++, Rus...          2      2       None       None     1                   0
11  13                           3  Could the project use better programming langu...          0      3       None       None     1                   0
12  14                           3                            Github number of lines?          1      4       None       None     1                   0
13  15                           3                          Github commits per month?          2      5       None       None     1                   0
14  16                           3                   What is the quality of the code?          2      6       None       None     1                   0
15  17                           3                    How well is the code commented?          2      7       None       None     1                   0
16  18                           3              Overall quality of the test coverage?          2      8       None       None     1                   0
17  19                           3      Overall quality of the maintainability index?          2      9       None       None     1                   0
18  20                           4                    When does the mainnet come out?          5      1       None       None     1                   0
19  21                           5          Is it easy to use for the end customer?\n          5      1       None       None     1                   0
20  22                           6                       Number of active developers?          2      1       None       None     1                   0
21  23                           6                 Developers average Git Background?          2      2       None       None     1                   0
22  24                           6                           Developers coding style?          3      3       None       None     1                   0
23  25                           7                                         References          0      1       None       None     2                   0
24  26                           8  Does this project need to use blockchain techn...          0      1       None       None     1                   0
25  27                           8                      Can this project be realized?          0      2       None       None     1                   0
26  28                           8       Is there a viable use case for this project?          0      3       None       None     1                   0
27  29                           8  Is the project protected from commonly known a...          0      4       None       None     1                   0
28  30                           8    Are there no careless errors in the whitepaper?          0      5       None       None     1                   0
29  31                           9                                              Notes          0      0       None       None     2                   1
30  32                          10                                            Summary          0      0       None       None     2                   0