In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import json
from cryptocompy import coin,price
import tqdm
import seaborn as sns
sns.set();

import io
import requests
import json
from datetime import datetime
import time
from time import gmtime, strftime

from sklearn import metrics
from fbprophet import Prophet
plt.rcParams["figure.figsize"] = [14,8]
pd.set_option('float_format', '{:f}'.format)

import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

import datetime
from datetime import datetime as dt
from datetime import timedelta


from tqdm import tqdm_notebook
from livelossplot.keras import PlotLossesCallback


from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import metrics
#from xgboost import XGBRegressor
from catboost import CatBoostRegressor, Pool, cv
import catboost
from sklearn.ensemble import RandomForestRegressor

from keras.models import Sequential
from keras.layers import Dense
from keras.models import model_from_json
#from sklearn.cross_validation import cross_val_score
#from sklearn.grid_search import GridSearchCV
from numpy.random import seed
seed(1)
from tensorflow import set_random_seed
set_random_seed(1)

from keras.models import Sequential  
from keras.layers.core import Dense, Activation  
from keras.layers.recurrent import LSTM
from keras.layers.advanced_activations import LeakyReLU

from keras import optimizers
from keras import backend as K

adam = optimizers.Adam(lr=0.01, clipnorm=1.)

def root_mean_squared_error(y_true, y_pred):
    return K.sqrt(K.mean(K.square(y_pred - y_true), axis=-1)) 
def nn_r2_score(y_true, y_pred):
    total_error = K.sum(K.square( y_true - K.mean(y_true) ) )
    residual_error = K.sum(K.square( y_true - y_pred ))
    R_squared = 1 - (residual_error / total_error)
    return -R_squared


from math import sin, cos

from gaft import GAEngine
from gaft.components import BinaryIndividual,DecimalIndividual
from gaft.components import Population
from gaft.operators import TournamentSelection, LinearRankingSelection
from gaft.operators import UniformCrossover
from gaft.operators import FlipBitMutation
from gaft.analysis import ConsoleOutput

# Analysis plugin base class.
from gaft.plugin_interfaces.analysis import OnTheFlyAnalysis

# Built-in best fitness analysis.
from gaft.analysis.fitness_store import FitnessStore

import MySQLdb 
import sshtunnel
from sshtunnel import SSHTunnelForwarder

Using TensorFlow backend.

In [3]:
df = pd.DataFrame()
d1 = pd.DataFrame()
d2 = pd.DataFrame()
d3 = pd.DataFrame()
with SSHTunnelForwarder(('206.189.186.74', 22), ssh_password='crypto1234', ssh_username='aagam', remote_bind_address=('127.0.0.1', 3306)) as server:
    conn = MySQLdb.connect(host='localhost', port=server.local_bind_port, user='ianbalina', passwd='5!sT3jt26K%tFN*W',db='ianbalina')
    cursor = conn.cursor()
    
    #cursor.execute("SELECT * FROM ianbalina.ico_price_daily_summaries;") 
    #m = cursor.fetchone()
    query = '''SELECT * FROM ianbalina.ico_price_daily_summaries;'''
    data = pd.read_sql_query(query, conn)
    df = pd.concat([df,data])
    
    
    query = '''SELECT * FROM ianbalina.ico_grade_history;'''
    data = pd.read_sql_query(query, conn)
    d1 = pd.concat([d1,data])
    
    query = '''SELECT * FROM ianbalina.ico_analytics;'''
    data = pd.read_sql_query(query, conn)
    d2 = pd.concat([d2,data])
    
    query = '''SELECT * FROM ianbalina.icos;'''
    data = pd.read_sql_query(query, conn)
    d3 = pd.concat([d3,data])
    
    
    conn.close()

I1004 08:04:43.449102 10732 transport.py:1819] Connected (version 2.0, client OpenSSH_7.6p1)
I1004 08:04:46.834755 10732 transport.py:1819] Authentication (password) successful!

In [18]:
d1['date'].unique()

array([datetime.date(2019, 10, 4)], dtype=object)

In [17]:
d1 = d1[d1['date'] == d1['date'].sort_values().iloc[-1]]

In [15]:
ids = d3['id'][d3['published_at'].notnull()].unique().tolist()

In [37]:
coin = []
for id in ids:
    coin.append(df['ico_symbol'][df['ico_id'] == id].unique().tolist()[0])

In [38]:
temp = pd.DataFrame()
temp['Coin'] = coin
temp['Score'] = d1['tokenmetrics_score'][d1['ico_id'].isin(ids)].values

temp = pd.DataFrame()
#d1 = d1[d1['date'] == datetime.date(2019, 9, 19)]
for coin in df['ico_symbol'].unique().tolist():
    num = df['ico_id'][df['ico_symbol'] == coin].unique().tolist()
    t = d1['tokenmetrics_score'][d1['ico_id'].isin(num)]
    if len(t)>0:
        t = t.iloc[-1]
        temp = pd.concat([temp, pd.DataFrame([coin,t]).T])

In [41]:
t2 = []
coins = []
for coin in temp['Coin'].tolist():
    t1 = df['ico_id'][df['ico_symbol'] == coin].unique().tolist()
    x = d2['all_time_growth_rate'][d2['ico_id'].isin(t1)].dropna().unique().tolist()
    if len(x) != 0:
        t2.append(x[-1])
        coins.append(coin)

In [42]:
t2 = pd.DataFrame([coins,t2])
t2 = t2.T
t2.columns = ['Coin','ROI']
temp.columns = ['Coin','Score']

In [43]:
temp = pd.merge(temp,t2)

In [45]:
temp[['Score','ROI']] = temp[['Score','ROI']].astype('float64')

In [48]:
'Correlation: ', temp.corr().iloc[0,1]

('Correlation: ', 0.35571144248837555)

In [49]:
temp['Score_bins'] = pd.cut(temp['Score'],[0,10,20,30,40,50,60,70,80,90,100])
temp['ROI_bins'] = pd.cut(temp['ROI'],[-100,0,6000000])

In [84]:
temp

     Coin     Score          ROI Score_bins      ROI_bins
0     TRX 63.429900   647.239500   (60, 70]  (0, 6000000]
1     ONT 67.164900   200.850100   (60, 70]  (0, 6000000]
2     ETH 96.634000  6080.551800  (90, 100]  (0, 6000000]
3     NEO 79.581700  3579.078100   (70, 80]  (0, 6000000]
4     BNB 80.081700 13516.003900   (80, 90]  (0, 6000000]
5     ADA 74.160000  1479.738200   (70, 80]  (0, 6000000]
6     LSK 73.702400  1031.416900   (70, 80]  (0, 6000000]
7     REP 75.340000  1288.814800   (70, 80]  (0, 6000000]
8    QTUM 71.544900   461.292900   (70, 80]  (0, 6000000]
9     OMG 83.665000    53.214800   (80, 90]  (0, 6000000]
10    BAT 86.610200     6.450500   (80, 90]  (0, 6000000]
11    EOS 67.165100   448.430000   (60, 70]  (0, 6000000]
12    XRP 60.348100  4093.043900   (60, 70]  (0, 6000000]
13    BTC 91.126000  5991.082000  (90, 100]  (0, 6000000]
14    BCH 71.415000   -28.177600   (70, 80]     (-100, 0]
15    LTC 71.830000  1215.364300   (70, 80]  (0, 6000000]
16    XLM 70.815200  2818.755600   (70, 80]  (0, 6000000]
17    XMR 79.226000  2150.707000   (70, 80]  (0, 6000000]
18   DASH 76.990000   -43.652100   (70, 80]     (-100, 0]
19    BSV 75.160000    -6.786400   (70, 80]     (-100, 0]
20    XTZ 74.617800    96.713200   (70, 80]  (0, 6000000]
21  MIOTA 69.842300   -57.544700   (60, 70]     (-100, 0]
22    ETC 74.794000   -21.371100   (70, 80]     (-100, 0]
23    ZEC 83.075000   -99.136200   (80, 90]     (-100, 0]
24   DOGE 49.804000   -18.476400   (40, 50]     (-100, 0]
25    BTG 60.330000   -56.563000   (60, 70]     (-100, 0]
26    DCR 82.014500   -31.713300   (80, 90]     (-100, 0]
27    BTT 45.428200   248.566700   (40, 50]  (0, 6000000]
28     HT 67.509800   107.439800   (60, 70]  (0, 6000000]
29   ATOM 85.271500  2485.725300   (80, 90]  (0, 6000000]
30   VSYS 56.352600   209.637500   (50, 60]  (0, 6000000]

In [56]:
final = temp['ROI_bins'].groupby([temp['Score_bins'],temp['ROI_bins']]).count().unstack()
final

ROI_bins    (-100, 0]  (0, 6000000]
Score_bins
(40, 50]     1.000000      1.000000
(50, 60]          nan      1.000000
(60, 70]     2.000000      5.000000
(70, 80]     4.000000      9.000000
(80, 90]     2.000000      4.000000
(90, 100]         nan      2.000000

In [94]:
[0,0,0,0] + final.values[:,0].tolist()

[0, 0, 0, 0, 1.0, nan, 2.0, 4.0, 2.0, nan]

In [99]:
x = pd.DataFrame()
x['(-100, 0]'] = [0,0,0,0] + final.values[:,0].tolist()
x['(0, 6000000]'] = [0,0,0,0] + final.values[:,1].tolist()
x.index = ['(0,10]','(10,20]','(20,30]','(30,40]','(40,50]','(50,60]','(60,70]','(70,80]','(80,90]','(90,100]']
x['Accuracy'] = [0,0,0,0,50,100, 5/7*100, 9/13*100, 4/6*100, 100]

x.fillna(0,inplace=True)

In [101]:
x

          (-100, 0]  (0, 6000000]   Accuracy
(0,10]     0.000000      0.000000   0.000000
(10,20]    0.000000      0.000000   0.000000
(20,30]    0.000000      0.000000   0.000000
(30,40]    0.000000      0.000000   0.000000
(40,50]    1.000000      1.000000  50.000000
(50,60]    0.000000      1.000000 100.000000
(60,70]    2.000000      5.000000  71.428571
(70,80]    4.000000      9.000000  69.230769
(80,90]    2.000000      4.000000  66.666667
(90,100]   0.000000      2.000000 100.000000

In [71]:
x.columns = ['(-100, 0]']

In [72]:
x['(0, 6000000]'] = [0.0,0.0,0.0,0.0]

In [73]:
x.dtypes

(-100, 0]       float64
(0, 6000000]    float64
dtype: object

In [76]:
final.index

CategoricalIndex([(40, 50], (50, 60], (60, 70], (70, 80], (80, 90], (90, 100]], categories=[(0, 10], (10, 20], (20, 30], (30, 40], (40, 50], (50, 60], (60, 70], (70, 80], ...], ordered=True, name='Score_bins', dtype='category')

In [74]:
final.dtypes

ROI_bins
(-100, 0]       float64
(0, 6000000]    float64
dtype: object

In [75]:
pd.concat([final,x])

TypeError: '<' not supported between instances of 'int' and 'str'

In [57]:
pd.DataFrame(final)

ROI_bins    (-100, 0]  (0, 6000000]
Score_bins
(40, 50]     1.000000      1.000000
(50, 60]          nan      1.000000
(60, 70]     2.000000      5.000000
(70, 80]     4.000000      9.000000
(80, 90]     2.000000      4.000000
(90, 100]         nan      2.000000

In [51]:
temp['ROI_bins'].groupby([temp['Score_bins'],temp['ROI_bins']]).count()

Score_bins  ROI_bins
(40, 50]    (-100, 0]       1
            (0, 6000000]    1
(50, 60]    (0, 6000000]    1
(60, 70]    (-100, 0]       2
            (0, 6000000]    5
(70, 80]    (-100, 0]       4
            (0, 6000000]    9
(80, 90]    (-100, 0]       2
            (0, 6000000]    4
(90, 100]   (0, 6000000]    2
Name: ROI_bins, dtype: int64

In [15]:
t1 = temp[['Coin','Score','ROI']][temp['ROI'] <= 0]
t1[t1['Score'] > 50]

      Coin     Score        ROI
6      XMR 79.226000 -15.416100
7     DASH 76.990000 -41.958200
9      ZEC 77.905000 -54.415600
20     BCH 71.415000 -26.728200
23     ETC 74.794000 -22.949900
58   THETA 74.970500 -28.783100
113    XEM 67.495000 -41.439500
115    DCR 80.980500 -26.650600
116   NANO 61.258900 -61.128200
172    STX 79.645900 -89.084400

In [16]:
t1[t1['Score'] <= 50]

       Coin     Score        ROI
2       AVT  3.527000 -92.809600
5      USDT 26.162200  -0.218800
10      BTG 40.330000 -55.536500
11      SNT 10.795000 -46.527300
13      SAN  9.383500 -64.127500
14      FUN  6.679100 -58.176200
15      TNB 14.805500 -84.090300
22      ELF 17.249000 -31.424900
25      CND 12.253400 -57.118400
26     DRGN  8.024800 -46.831600
27      PAY  8.524800 -48.783700
28      KNC 21.346300 -56.242300
29      AST 10.350000 -84.253500
30     AION 24.753200 -94.063600
31     UTNP  8.029700 -87.570900
32      FSN 21.826400 -76.326600
34      PAI  5.109800 -61.315000
35     GUSD  6.500000  -3.930000
36      RLC 17.641600 -68.180200
37      MAN 17.675000 -85.082300
38      VEE  4.515800 -90.964100
39      POA  8.031500 -83.470100
40     QASH 10.075000 -76.685800
42      AGI  2.022500 -72.153600
43      ZCN  8.004500 -97.057100
45      MKR 22.524000 -31.364000
46     USDC 23.640900  -0.786800
48      WTC 15.896600 -66.841100
49      DAI 10.670000  -2.800200
50      LRC 16.421300 -46.293700
51      ZEN 14.000300 -70.500400
54     MITH  9.562200 -70.736300
55     CTXC 11.748400 -56.553000
56      TKN 10.530300 -51.849100
57      MHC 19.168100 -88.732700
60      XVG 31.527800 -59.060800
61      GRS  7.545000 -51.638400
62     TUSD 31.027800  -0.978700
63      PAX 44.650000  -2.609700
64     NULS 16.689400 -92.164200
65     NPXS  5.000000 -58.213400
66      MCO 34.767800  -5.585600
67    GBYTE 11.055500 -46.348100
68     LOOM 19.114300 -70.210300
69     IOST 11.574400 -56.665900
71      BTS 43.433300 -59.140500
72     MANA  4.517600 -43.998600
75      DGB 45.446900 -60.596600
78      TNT  6.428200 -47.637600
80      KIN  1.004500 -93.096000
81     POWR 12.349300 -44.710200
82      PHX  7.920700 -44.314400
83      AMB 14.228700 -88.355100
84     FUEL  7.599400 -96.678400
85      QSP  1.028400 -68.788800
86     LEND  1.034600 -38.845000
87      GNX  7.104100 -69.901000
88      GTO  2.013500 -53.834600
89      QLC  4.518000 -19.140100
90      NGC  1.024800 -97.463700
91      JNT  1.031500 -89.408100
92      BLZ  4.514800 -77.559200
93     MOBI  5.515800 -95.910700
94      ABT 20.884400 -69.372200
96      ELA  4.531500 -62.910400
98     IOTX  8.013500 -49.218400
99      EGT 11.872800 -80.163400
100     QKC 22.451200 -70.873000
101     MET  3.036000 -79.633000
106   STORJ 12.722100 -76.122300
109     EDG  4.988800 -57.523200
110      AE 23.959900 -47.882700
114    DOGE 44.634000 -25.685400
117     RVN 40.771200 -59.618300
118     BCD 40.491300 -57.925100
119     BCN 25.688000 -55.788300
121   STEEM 19.504800 -70.204000
122      SC 30.820000 -45.720200
125     XIN 16.044900  -0.660500
126    ARDR 20.000000 -20.176500
129     XZC 15.182900 -33.242800
131     ETN  5.589100 -62.362300
132    WICC 19.550000 -50.191400
134    DENT  7.780800 -66.819500
135     BNT 15.859300 -92.030900
136     BIX 12.355200 -55.049500
137   TFUEL 24.954500 -97.286900
139    EURS  8.500000  -0.832000
140    CELR 16.360800 -30.577600
141     GAS 10.651300 -60.520500
142     CMT 20.600000 -70.734700
143     LBA 10.816400 -71.387800
144     CVC 13.542100 -48.936800
145     TCT  6.666400 -71.800000
146    MEDX 21.520100 -64.887200
147     OCN  5.647400 -72.439200
148     TTC 18.128300 -77.818400
149    ANKR 16.010700 -64.960500
150     FTM 24.070500 -73.820600
151     UTT  3.432000  -5.489100
152     NKN 20.075000 -83.801900
153     OST 22.080800 -88.179100
154     CVT 10.222100 -67.735500
158     UUU 15.150000 -79.727600
159     WAN 23.774700 -45.003400
160    SXDT  7.133000 -21.304700
161     TOL  8.015800 -95.539000
162    INVE  8.004000 -98.839200
163     GMB  2.015800 -98.850100
165   TEMCO  1.022500 -90.142300
166     DNT  5.527000 -63.114700
167     MTH  1.027900 -82.331200
168     ENG 14.245100 -53.389400
169     PRO  1.015700 -87.960800
170    REAL  6.295000 -94.721800
171    RHOC  9.682100 -83.912200
174     IDH  2.036000 -88.687300
175    BNTY  2.008200 -79.583500
176    HDAC  4.503100 -79.640500
177     STK 10.475000 -97.075000
178     TEL  2.011200 -53.426000
179     ZLA  2.033700 -94.546600
180     KEY  7.651100 -89.324800
181      ZP  4.527000 -96.744700
182    FOTA  7.018000 -97.671800
183  INSTAR  2.018000 -40.382000
184     UCN  8.018000 -99.314000
185     KAT  4.522500 -95.090600
186    MESG  4.528100 -94.810700
194     MXM  8.463800  -1.326000
195    TRUE 19.080900 -63.634400
196    POLY  8.931000 -72.066500
197      LA 13.710500 -81.141000
198    UGAS 19.268200 -45.341400
199    REPO  6.386000 -84.917400
200     S4F  3.608400 -73.177300
201     SYS 13.500000 -71.447300
202     DAC  2.616900 -28.665900
203    CLAM  2.009000 -64.353100
204    LBTC 12.827100 -68.213200
205     LKY  8.011300 -79.722500
206      GO 21.797100 -76.210800
207     XAS  7.657600 -64.591700
209     MER  4.527000 -85.819200
210     ART  1.013500 -86.442700
211     COB 10.349500 -97.698900
212   FLIXX  1.416600 -70.394900
213     ATL  1.032600 -94.627800
214   SENSE  4.160300 -94.347900
215     XNK  3.513500 -93.469100
216     FXT  2.027000 -89.579900
217     CEL  3.022500 -82.878400
218     UPP  4.527000 -87.903700
219     LND  2.027000 -77.606400
220     HYC 18.991400 -99.463600
221     MVP  5.573200 -68.073000
222     MFT  5.522500 -16.750000
224     NOS  9.025000 -86.453000
228     KCS 25.826300  -4.619500
229     AOA 35.825500 -49.306700
230     FCT 12.609300 -70.172400
231    ABBC  3.267900 -85.977600
233     CNX  7.193300 -83.764700
237    ORBS 18.832400 -87.524500
238    VEST 11.600000 -69.769400
239       R  9.000000 -46.686700
240    PIVX  6.500000 -67.902400
241     RDD  8.000000 -33.031000
242    MOAC 23.359000 -56.191300
243     APL 10.622300 -37.422500
246     XPX 24.548700 -79.936900
247   SOLVE 10.472000  -8.279000
249     VTC  9.184900 -47.154900
250    TPAY 14.903200 -97.290400
251     UNO  1.045000 -55.396000
252     NXS 17.655000 -47.589800
253     C20  8.980000 -23.520900
254     SLT  8.693900 -88.658700
255    COSM 14.270300 -73.317700
256     POE  7.000000 -52.063500
257   IGNIS  5.427000 -38.243300
258    AMPL  6.725000 -60.368700
261     FST  2.275700 -60.588500
262     ESS  2.022500 -94.738400

In [17]:
t2 = temp[['Coin','Score','ROI']][temp['ROI'] > 0]

In [18]:
t2[t2['Score'] > 50]

      Coin     Score            ROI
0      BTC 91.126000    6119.023400
1      ETH 97.500000   52970.218800
3      OMG 75.165000     122.764700
4      EOS 72.164700     169.462700
8      NEO 79.581700    3474.327900
16     BAT 86.610200     360.401300
17     TRX 63.429900     563.101600
18     HOT 75.633900     329.160000
21     XRP 71.598800    5847.043000
24    QTUM 71.544800     403.675600
33     LSK 73.764800     934.244200
44     BSV 75.160000 3849066.500000
59     REP 67.500000    1375.973100
73     ADA 73.177000    1388.198100
74     XLM 70.814500    2789.657500
95     ONT 63.994900     197.053400
103    BNB 80.081700   16097.542000
104    KMD 52.423400      49.172500
105  WAVES 55.655000     336.678100
112    XTZ 74.617800      83.679200
123     HT 67.509800     111.921200
156   ATOM 85.271500    2054.254600
157   VSYS 56.346700     249.679400
227  MIOTA 69.842300   41863.851600

In [19]:
t2[t2['Score'] <= 50]

        Coin     Score          ROI
12       ETP 36.564900     6.781600
19       GNT 17.340000   377.465900
41       ZIL 48.548100    35.776400
47       ENJ 10.492400     7.374500
52       ODE 12.349100   109.770200
53       RIF 20.359100    53.402200
70       ZRX 48.692100   291.305700
76      TOMO 19.797000    16.600400
77      GRIN 12.500000   551.103400
79       ICX 41.480100    55.260900
97       SKM  4.511700    16.939000
102      NXT 18.495500 79068.453100
107     DGTX 12.421500   231.085000
108      DGD 20.000000   306.256000
111      MTL  9.513100    14.614200
120      BTT 45.428200   253.491700
124      BTM 46.000300     7.144600
127      GXC 18.200000   197.399600
128     MAID  9.000000    22.686300
130       HC 29.477400    14.415300
133     NEXO  3.520000    20.793600
138     LAMB 34.145300  1124.628400
155      LEO 31.330000     4.936200
164      NRG 45.995000  1137.549700
173      BRD  2.029700    19.534200
187    XSPEC 12.500000 19959.209000
188    ETHOS 11.389800    61.050600
189      ARK 20.587400  1658.641200
190     PART 22.505600   643.499000
191     VERI 11.596700     1.453800
192     NEBL 21.292600    73.926900
193      PPT  9.000000    25.044100
208      HPB 20.441200     5.862500
223      FTT  2.027000  1089.657100
225      QRL 16.921600    41.316700
226    WINGS 13.337100    66.198700
232      INB 12.405000    35.918100
234     QBIT  6.867300    27.214000
235     MONA 21.830000     7.759100
236      THR  9.230900    94.905700
244   BCZERO  1.904800    31.145000
245      QNT 41.630400   317.008100
248  ECOREAL  5.443000    92.936800
259      NEX 29.751200    24.123400
260      WIN  3.250000    44.250000