In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import json
from cryptocompy import coin,price
import tqdm
import seaborn as sns
sns.set();

import io
import requests
import json
from datetime import datetime
import time
from time import gmtime, strftime

from sklearn import metrics
from fbprophet import Prophet
plt.rcParams["figure.figsize"] = [14,8]
pd.set_option('float_format', '{:f}'.format)

import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

import datetime
from datetime import datetime as dt
from datetime import timedelta


from tqdm import tqdm_notebook
from livelossplot.keras import PlotLossesCallback


from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import metrics
#from xgboost import XGBRegressor
from catboost import CatBoostRegressor, Pool, cv
import catboost
from sklearn.ensemble import RandomForestRegressor

from keras.models import Sequential
from keras.layers import Dense
from keras.models import model_from_json
#from sklearn.cross_validation import cross_val_score
#from sklearn.grid_search import GridSearchCV
from numpy.random import seed
seed(1)
from tensorflow import set_random_seed
set_random_seed(1)

from keras.models import Sequential  
from keras.layers.core import Dense, Activation  
from keras.layers.recurrent import LSTM
from keras.layers.advanced_activations import LeakyReLU

from keras import optimizers
from keras import backend as K

adam = optimizers.Adam(lr=0.01, clipnorm=1.)

def root_mean_squared_error(y_true, y_pred):
    return K.sqrt(K.mean(K.square(y_pred - y_true), axis=-1)) 
def nn_r2_score(y_true, y_pred):
    total_error = K.sum(K.square( y_true - K.mean(y_true) ) )
    residual_error = K.sum(K.square( y_true - y_pred ))
    R_squared = 1 - (residual_error / total_error)
    return -R_squared


from math import sin, cos

from gaft import GAEngine
from gaft.components import BinaryIndividual,DecimalIndividual
from gaft.components import Population
from gaft.operators import TournamentSelection, LinearRankingSelection
from gaft.operators import UniformCrossover
from gaft.operators import FlipBitMutation
from gaft.analysis import ConsoleOutput

# Analysis plugin base class.
from gaft.plugin_interfaces.analysis import OnTheFlyAnalysis

# Built-in best fitness analysis.
from gaft.analysis.fitness_store import FitnessStore

import MySQLdb 
import sshtunnel
from sshtunnel import SSHTunnelForwarder

Using TensorFlow backend.

In [2]:
def fun(x):
    if x < -50:
        return 'Strong Sell'
    elif x > -50  and x < -10:
        return 'Sell'
    elif x > -10 and x < 10:
        return 'Neutral'
    elif x > 10 and x < 50:
        return 'Buy'
    else:
        return 'Strong Buy'
    
def fun1(x,v1,v2,v3,v4):
    if x < v1:
        return 'Strong Sell'
    elif x > v1 and x < v2:
        return 'Sell'
    elif x > v2 and x < v3:
        return 'Neutral'
    elif x > v3 and x < v4:
        return 'Buy'
    else:
        return 'Strong Buy'
    
    
def acc(x):
    if x.name == 'Strong Sell' or x.name == 'Sell':
        return (x['Strong Sell'] + x['Sell']) / x['Total']
    elif x.name == 'Neutral':
        return (x['Neutral']) / x['Total']
    else:
        return (x['Strong Buy'] + x['Buy']) / x['Total']

In [12]:
df = pd.DataFrame()
d1 = pd.DataFrame()
d2 = pd.DataFrame()
d3 = pd.DataFrame()
candlestick = pd.DataFrame()

with SSHTunnelForwarder(('206.189.186.74', 22), ssh_password='crypto1234', ssh_username='aagam', remote_bind_address=('127.0.0.1', 3306)) as server:
    conn = MySQLdb.connect(host='localhost', port=server.local_bind_port, user='ianbalina', passwd='5!sT3jt26K%tFN*W',db='ianbalina')
    cursor = conn.cursor()
    
    #cursor.execute("SELECT * FROM ianbalina.ico_price_daily_summaries;") 
    #m = cursor.fetchone()
    query = '''SELECT * FROM ianbalina.ico_price_daily_summaries;'''
    data = pd.read_sql_query(query, conn)
    df = pd.concat([df,data])
    
    
    query = '''SELECT * FROM ianbalina.ico_technical_analyses;'''
    data = pd.read_sql_query(query, conn)
    d1 = pd.concat([d1,data])
    
    query = '''SELECT * FROM ianbalina.technical_analysis_scoring;'''
    data = pd.read_sql_query(query, conn)
    d2 = pd.concat([d2,data])
    
    query = '''SELECT * FROM ianbalina.technical_analysis_weights;'''
    data = pd.read_sql_query(query, conn)
    d3 = pd.concat([d3,data])
    
    query = '''SELECT * FROM ianbalina.ico_candlestick_patterns;'''
    data = pd.read_sql_query(query, conn)
    candlestick = pd.concat([candlestick,data])
    
    conn.close()

I0926 09:11:29.594898 15768 transport.py:1819] Connected (version 2.0, client OpenSSH_7.6p1)
I0926 09:11:32.458302 15768 transport.py:1819] Authentication (password) successful!

In [44]:
df['ico_id'][df['ico_symbol'] == 'QTUM'].unique()

array([3323], dtype=int64)

In [13]:
df['ico_symbol'].nunique()

333

In [14]:
dates = d1['date'].unique()

In [21]:
dates[-14],dates[-7]

(datetime.date(2019, 9, 13), datetime.date(2019, 9, 20))

In [18]:
dates[-8],dates[-1]

(datetime.date(2019, 9, 19), datetime.date(2019, 9, 26))

In [15]:
dates

array([datetime.date(2019, 7, 29), datetime.date(2019, 7, 31),
       datetime.date(2019, 8, 5), datetime.date(2019, 8, 6),
       datetime.date(2019, 8, 14), datetime.date(2019, 8, 19),
       datetime.date(2019, 8, 21), datetime.date(2019, 8, 23),
       datetime.date(2019, 8, 26), datetime.date(2019, 8, 28),
       datetime.date(2019, 8, 30), datetime.date(2019, 9, 1),
       datetime.date(2019, 9, 2), datetime.date(2019, 9, 4),
       datetime.date(2019, 9, 5), datetime.date(2019, 9, 6),
       datetime.date(2019, 9, 7), datetime.date(2019, 9, 8),
       datetime.date(2019, 9, 9), datetime.date(2019, 9, 10),
       datetime.date(2019, 9, 11), datetime.date(2019, 9, 12),
       datetime.date(2019, 9, 13), datetime.date(2019, 9, 14),
       datetime.date(2019, 9, 15), datetime.date(2019, 9, 16),
       datetime.date(2019, 9, 17), datetime.date(2019, 9, 18),
       datetime.date(2019, 9, 19), datetime.date(2019, 9, 20),
       datetime.date(2019, 9, 21), datetime.date(2019, 9, 22),
       datetime.date(2019, 9, 23), datetime.date(2019, 9, 24),
       datetime.date(2019, 9, 25), datetime.date(2019, 9, 26)],
      dtype=object)

#### Date:  31-07 to 30-08

In [27]:
d3['indicator'].iloc[11] = 'ichimoku_lagging_span'
candlestick['signal'] = candlestick['signal'].replace(['bullish','bearish','bearish_bullish'],[25,-25,0])
d1 = d1[d1['date'] == dates[-14]]

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

In [23]:
t2 = pd.DataFrame()
for coin in df['ico_symbol'].unique().tolist():
    t1 = df[df['ico_symbol'] == coin]
    t1 = t1[t1['date'] >= dates[-14]][t1['date'] <= dates[-7]]
    t1 = t1.drop_duplicates(subset=['date'])
    t1 = t1.sort_values('date')
    if len(t1) > 1:
        x1 = t1['close'].iloc[-1] - t1['close'].iloc[0]
        x2 = (t1['close'].iloc[-1] - t1['close'].iloc[0]) / t1['close'].iloc[0] * 100
        t2 = pd.concat([t2,pd.DataFrame([coin,x1,x2])], axis=1)

t2 = t2.T
t2.columns = ['Coins','Price Change', '% Change']

#### Old weights

In [28]:
d3['weight'] = [3, 13, 13, 22, 8, 5, 21, 3, 0, 22, 4, 7, 13, 21]
d4 = pd.merge(d1,d3[['indicator','weight']], on=['indicator'] ,how='left')
d4['signal'] = d4['signal'].replace(['neutral','downward','upward','buy','sell','bullish','bearish'],[0,-25,25,75,-75,25,-25])

In [30]:
d5

                  indicator    weight  signal
234                     adx  3.000000       0
235                      ao 13.000000       0
236                     cci 13.000000       0
237                    macd 22.000000       0
238                     rsi  5.000000       0
239                      kd 21.000000       0
240                      wr  3.000000       0
241                     roc  0.000000       0
242                     mfi 21.000000       0
243                    trix 22.000000       0
244                    vwap  4.000000       0
245   ichimoku_lagging_span  7.000000       0
246                     ema 13.000000       0
247                    ema9  1.000000       0
248                   ema20  1.000000       0
249                   ema50  1.000000       0
250                  ema100  1.000000       0
251                  ema200  1.000000       0
6249     bullishSpinningTop  1.000000      25
7207      downsideTasukiGap  1.000000     -25
7208     bearishSpinningTop  1.000000     -25

In [29]:
temp = pd.DataFrame()
for coin in df['ico_symbol'].unique().tolist():
    num = df['ico_id'][df['ico_symbol'] == coin].unique().tolist()
    d5 = d4[d4['ico_id'].isin(num)]
    d5 = d5[['indicator','weight','signal']]

    candlestick['weight'] = 1
    t1 = candlestick[candlestick['ico_id'].isin(num)]
    t1 = t1[['pattern','weight','signal']]
    t1.columns = d5.columns

    d5 = pd.concat([d5,t1])

    d5 = d5.drop_duplicates('indicator')
    d5['weight'] = d5['weight'].fillna(1)
    d5 = d5.fillna(0)
    temp = pd.concat([temp,pd.DataFrame([coin,sum(d5['weight'] * d5['signal'].astype('float64')) / d5['weight'].sum()])], axis=1)


temp = temp.T
temp.columns = ['Coins','Technical Score']
temp.dropna(inplace=True)


final = pd.merge(temp,t2)

In [31]:
final

       Coins Technical Score Price Change   % Change
0        BTC       -7.436709   -49.201172  -0.481486
1        ETH        0.159236    25.818695  13.503195
2        AVT        3.846154     0.020970  15.697842
3        OMG      -16.401274     0.090516   8.625409
4        EOS       22.596154    -0.091381  -2.281257
5        LTC       -6.451613     3.954597   5.610811
6       USDT       13.924051    -0.005540  -0.550518
7        XMR      -17.147436     0.668648   0.916312
8       DASH       -6.570513     7.176437   8.071291
9        NEO      -16.346154     0.471124   5.241699
10       ZEC       12.261146     0.991356   2.061562
11       BTG      -10.126582     0.498840   4.886179
12       SNT       -9.218750    -0.000683  -4.262047
13       ETP       -0.158228     0.101632  13.045002
14       SAN        3.639241     0.008515   1.953616
15       FUN      -18.322981     0.000533  18.191994
16       EDO      -16.455696    -0.000306  -0.081893
17       GNO       -2.759740     2.261473  14.926055
18       TNB       11.129032     0.000086   2.364118
19       BAT       -9.615385     0.031981  18.193360
20       TRX        0.477707     0.001993  12.849466
21       HOT       11.320755     0.000076   9.449015
22       GNT      -11.305732     0.000867   1.442237
23       BCH      -16.346154     9.303925   3.053768
24       XRP      -16.878981     0.031588  12.157780
25       ELF       -9.615385     0.001620   1.989129
26       ETC      -20.411392    -0.085875  -1.383583
27      QTUM      -16.139241     0.145168   7.168186
28       CND      -34.134615     0.001719  26.765512
29      DRGN      -16.719745     0.000931   2.118695
30       PAY       -2.903226     0.055665  51.447530
31       KNC        7.075472     0.020523   9.819014
32       AST       -3.164557     0.003426  13.504296
33      AION       -2.580645     0.000101   0.124805
34      UTNP      -10.031847     0.000062   3.260051
35       FSN      -16.082803    -0.003204  -0.547654
36       LSK      -15.251572     0.068096   7.330775
37       PAI       -6.129032     0.000283   1.310178
38      GUSD      -16.242038    -0.009585  -0.952824
39       RLC       -9.843750     0.027746  12.945724
40       MAN      -17.207792    -0.015929 -21.408822
41       UTK       -1.729560     0.000038   0.168021
42       VEE       -9.756098     0.000102   4.695115
43       POA       12.735849     0.002090  14.401533
44      QASH      -16.139241    -0.001781  -2.192742
45       ZIL       -9.615385     0.000052   0.736143
46       AGI      -15.981013     0.000921   3.592490
47       ZCN       -1.910828     0.007431  13.012550
48       BSV      -12.660256     1.490501   1.232075
49       MKR      -16.346154    83.029999  17.905618
50      USDC        1.442308    -0.003728  -0.370509
51       ENJ        1.774194     0.003048   4.453826
52       WTC        0.636943     0.021290   2.208849
53       DAI      -11.624204    -0.005978  -0.591973
54       LRC      -15.506329     0.000358   0.985495
55       ZEN      -16.290323     0.091794   2.296136
56       ODE      -10.534591    -0.004040  -3.422096
57       RIF      -23.417722    -0.011443  -8.223540
58      MITH      -13.836478    -0.000016  -0.096579
59      CTXC       -9.294872     0.008783  10.662864
60       TKN       -2.848101     0.035524   8.811052
61       REQ       -9.872611     0.000757   6.706652
62       BFT       -2.173913     0.000204   1.015351
63       MHC      -10.000000    -0.000304  -5.441245
64       NEC        4.475309     0.016765  24.093802
65       ANT      -14.968153    -0.021275  -2.275968
66       EDR        3.481013    -0.000309  -6.753160
67       RDN       -9.651899     0.014389   8.899964
68      DATA      -28.797468     0.001106   8.982747
69     THETA      -10.096154    -0.002102  -1.876959
70       REP       14.012739     0.403606   3.863968
71       XVG      -16.346154     0.000198   4.648892
72       CAT       -0.621118     0.000403  97.505993
73       GRS       -7.096774     0.019199   8.895548
74      TUSD        0.312500    -0.001795  -0.178857
75       PAX        7.120253    -0.001713  -0.170782
76      NULS      -15.445860     0.011229   2.663194
77      NPXS      -16.826923     0.000014   4.148796
78       MCO       -9.651899     0.096667   2.928605
79     GBYTE      -18.630573     1.960379   8.752194
80      LOOM       -9.905660     0.000436   1.863592
81      IOST       -2.707006     0.000227   3.300629
82       ZRX       -2.547771     0.070531  43.626327
83       BTS      -15.981013     0.000609   1.834864
84      MANA       -9.455128     0.002366   7.512203
85       ADA      -16.401274     0.005003  10.838280
86       XLM      -16.558442     0.014603  24.876742
87       DGB       -8.974359     0.000376   4.871206
88      TOMO      -23.538961     0.052665  14.621210
89      GRIN       -3.343949     0.069895   3.714538
90      BEAM       -2.500000     0.275275  22.234839
91       TNT       -2.243590     0.012624  45.171196
92       ICX       -2.707006     0.010080   5.078824
93       KIN        4.716981    -0.000000  -3.574034
94      POWR       -2.987421     0.000548   0.970198
95       PHX        3.437500     0.001381  22.453884
96       AMB      -16.560510     0.002478  15.135422
97      FUEL      -18.870968     0.002228  57.446221
98       QSP      -25.636943     0.001763  16.101796
99      LEND      -31.250000     0.001364  33.019357
100      GNX      -16.401274    -0.000800  -4.441522
101      GTO        8.121019    -0.000264  -1.536859
102      QLC      -30.188679    -0.001203  -6.289159
103      NGC        9.259259    -0.003420  -9.087935
104      JNT        2.373418     0.002113   6.546932
105      BLZ       -9.455128     0.003372  10.211288
106     MOBI      -17.675159    -0.000724  -9.198714
107      ABT       -2.724359    -0.003495  -1.764126
108      ONT       -9.554140     0.060180   7.918068
109      ELA      -16.346154     0.124014   5.481149
110      SKM       -2.724359    -0.000028  -0.851461
111     IOTX      -15.781250     0.000404   9.436442
112      EGT      -13.621795    -0.000276  -8.175002
113      QKC      -10.284810     0.000237   3.007484
114      MET       12.343750     0.070060  10.205089
115      NXT      -16.666667     0.002468  18.548446
116      BNB      -18.670886     0.857826   4.218271
117      KMD      -16.025641     0.019487   2.907612
118    WAVES      -23.726115    -0.004715  -0.450028
119    STORJ       -9.493671     0.012341   8.128660
120     DGTX       11.464968     0.000061   0.145714
121      DGD       -0.477707     1.034953   7.402237
122      EDG       14.838710    -0.000696  -3.008504
123       AE       -7.006369     0.014333   7.060726
124      MTL        0.949367     0.000699   0.225607
125      XTZ       -2.884615     0.073088   7.374201
126      XEM       -6.730769     0.002891   6.673500
127     DOGE       11.935484     0.000247  10.114541
128      DCR      -21.634615     1.055292   4.812154
129     NANO      -16.506410     0.065587   7.415988
130      RVN        0.632911     0.005389  17.045186
131      BCD      -16.242038     0.026314   4.263111
132      BCN      -16.558442     0.000031   6.558735
133      BTT      -17.088608     0.000009   1.670686
134    STEEM       -9.294872     0.009767   6.293664
135       SC      -15.981013     0.000178  10.191639
136       HT       -9.134615     0.053245   1.322391
137      BTM      -16.401274     0.003935   5.039775
138      XIN      -16.250000     1.752701   0.822910
139     ARDR      -27.547771     0.004746   8.174786
140      GXC       -9.968354    -0.017749  -3.472741
141     MAID        5.573248    -0.032364 -14.477683
142      XZC      -10.161290     0.047276   0.894934
143       HC       -4.617834    -0.009755  -0.455453
144      ETN      -16.346154    -0.000028  -0.606188
145     WICC       -8.757962    -0.001847  -1.150035
146     NEXO       13.993711     0.012535  14.042064
147     DENT        9.591195     0.000056  12.940772
148      BNT      -16.613924     0.043956  11.725770
149      BIX      -16.082803     0.000070   0.034938
150    TFUEL      -18.789809     0.000271   6.410353
151     LAMB       -5.032468    -0.001371  -0.934159
152     EURS       -9.259259    -0.008719  -0.794719
153     CELR       -9.455128     0.000446   8.370421
154      GAS       -9.018987     0.103372   7.879028
155      CMT       -2.564103     0.001165   5.648658
156      LBA      -16.451613    -0.000941  -6.034487
157      CVC      -12.898089     0.001882   4.384484
158      TCT      -16.194969    -0.001140  -7.007745
159     MEDX       -9.872611    -0.000146  -3.593327
160      OCN       -9.713376    -0.000032  -3.002980
161      MDA       -4.140127     0.021683   3.608512
162      TOP      -16.935484     0.000213   6.616759
163    SMART       -6.210191    -0.000133  -3.997060
164      TTC       12.738854    -0.001818  -3.782051
165     ANKR      -20.000000    -0.000032  -1.028868
166      FTM        9.134615    -0.000162  -1.047612
167      KAN       -6.774194     0.000129   4.309175
168      UTT       15.723270    -0.042311 -10.016250
169      EKT       23.575949    -0.003803  -2.252708
170      NKN       -2.403846    -0.001420  -5.521320
171      EVX      -22.611465     0.005165   1.299566
172      ILC      -16.935484    -0.000912  -2.150982
173      SRN       -9.968354    -0.001110 -10.126635
174      OST      -31.132075     0.001850  15.379153
175      CVT       -1.910828    -0.000404  -7.063235
176      B2G      -22.133758     0.000194   7.318784
177      MDS      -11.057692    -0.000095  -1.705588
178      LEO      -16.346154     0.006138   0.570291
179     ATOM      -17.038217    -0.103696  -3.195872
180      VET       -9.294872     0.000161   3.922911
181     VSYS      -12.741935    -0.007307  -5.802153
182      UUU       -3.980892     0.000012   1.386862
183      WAN       -1.774194     0.011005   4.596151
184     SXDT       -0.477707     0.043999  19.431238
185      HLM       -0.628931    -0.001457 -11.408747
186       FX       -0.320513     0.047700  19.741680
187      TOL       -0.641026     0.000080   1.369830
188     INVE       -0.480769     0.000019   3.949608
189      GMB       -0.801282    -0.000112 -30.326254
190      NRG       -0.806452     0.086029   2.824145
191    TEMCO       -0.641026    -0.000029  -2.261945
192      DNT        0.806452     0.000431   6.224135
193      PIX       -0.791139     0.000158  10.691235
194      MTH        0.796178     0.001162   7.341689
195      ENG       -0.806452     0.047263  14.515584
196      PRO       -0.480769     0.001243   0.843830
197     REAL       -0.641026     0.006448  16.294114
198     RHOC       -0.801282    -0.005015 -10.879374
199      VZT        0.000000     0.000000   0.000000
200      STX        0.649351     0.000884   6.231223
201      BRD       -0.649351     0.017058   7.862675
202      IDH       -0.949367     0.000312   5.504284
203     BNTY        0.806452    -0.000506 -12.834189
204     HDAC        0.796178     0.014094  86.577981
205      STK        0.791139     0.000189   4.990289
206      TEL       -0.641026    -0.000033  -5.855030
207      BDG       -0.641026     0.000004   0.535543
208      ZLA       -0.632911    -0.000737  -3.604564
209      KEY       -0.796178     0.000059   4.276585
210       ZP       -0.641026     0.014626  14.126856
211     FOTA       -0.649351    -0.000058  -2.143352
212      BEE       -1.273885     0.000000   0.000000
213   INSTAR        0.483871     0.005685  27.569196
214      ZCO       -0.483871    -0.000500 -14.151309
215      UCN       -0.318471     0.000009   1.090771
216      KAT        0.320513     0.000021   1.625002
217     MESG       -0.806452    -0.002250  -9.525598
218    XSPEC       -0.636943     0.019224  10.305767
219    ETHOS       -0.806452     0.000066   0.095258
220      ARK        0.649351     0.011262   5.278966
221     PART       -0.641026    -0.069807  -4.618824
222     VERI        0.641026     3.892663  30.152872
223     NEBL       -0.477707     0.015680   3.441364
224      PPT       -0.483871     0.036638   9.825901
225     DICE       -0.314465     0.055496  13.516837
226      MXM        0.480769    -0.000083  -0.168455
227     TRUE       -0.477707    -0.002383  -0.761088
228     POLY       -0.961538     0.001772   5.488336
229       LA       -0.806452     0.000894   1.202426
230     UGAS       -0.483871    -0.000020  -0.022786
231     REPO       -0.158228     0.023896  54.638908
232      S4F       -0.806452    -0.014209 -65.114590
233      SYS       -0.159236     0.001712   6.951460
234      DAC       -0.480769     0.000308   7.681423
235    CENNZ        0.320513     0.002225  11.723328
236     CLAM        0.641026     0.648069  16.502526
237     LBTC       -0.318471     0.004381   0.189571
238      LKY       -0.632911    -0.007103  -4.640353
239       GO       -0.480769     0.000974  10.663562
240     WABI        0.641026     0.009670   7.222131
241      WGR       -0.641026    -0.000730  -1.737435
242    STORM        0.636943    -0.000054  -3.294078
243       IQ       -2.056962     0.000068   2.949989
244      GVT       -0.320513     0.077782   6.717004
245      BCV        0.477707    -0.000648  -1.657962
246      HUM       -0.811688     0.000000   0.000000
247     AUTO       -0.649351    -0.000043  -4.674067
248      XWC       -0.483871    -0.003145 -13.875509
249      RNT        0.796178     0.001834   7.398645
250      XAS       -0.483871     0.002234   3.549500
251      REN       -0.961538     0.018880  46.178297
252      ROX       -0.641026     0.004463   8.889943
253     EMC2        0.806452    -0.000488  -0.819139
254      HPB       -0.796178     0.016511   5.688914
255      RET       -0.791139    -0.000040  -2.270453
256      SNX        0.477707     0.025387   5.715602
257      MER       -0.649351     0.002009  78.490255
258      ART       -0.796178     0.001519   4.277608
259      COB       -0.483871    -0.000208 -18.496534
260      DOV       -0.949367    -0.000002  -0.339989
261    FLIXX        0.641026    -0.007979 -35.066871
262      ATL        0.477707    -0.001244  -6.060495
263    SENSE       -0.160256     0.000000   0.000000
264      LEV       -1.740506     0.000000   0.000000
265      XNK       -0.641026     0.000022   1.449085
266      FXT       -0.641026    -0.000116  -7.098412
267      PKC       -0.967742     0.000000   0.000000
268      CEL       -0.641026     0.004910   7.600418
269      UPP        0.483871    -0.001209  -9.298313
270      LND       -0.483871    -0.000579  -9.715067
271       PI       -0.483871    -0.000127  -1.778204
272      HYC       -0.320513     0.000111   2.236371
273      MVP       -0.796178    -0.000140 -12.998701
274     ATMI       -0.961538     0.000006   2.064854
275      MFT        0.645161     0.000148  14.258083
276      FTT       -0.483871     0.054141   4.305875
277      HYB        0.322581    -0.000334 -45.705320
278    AERGO       -0.961538    -0.010904 -13.679355
279      NOS       -0.806452     0.000222   1.450338
280     META       -1.114650     0.000185   2.316758
281     VITE       -0.649351     0.001152   6.309699
282      BCY       -0.781250    -0.001303  -3.516943
283      QRL        0.806452     0.005110   3.894643
284      TKS        0.474684     0.010153  23.636615
285      DAR       -1.273885     0.000000   0.000000
286    WINGS        0.636943    -0.000268  -0.571162
287    MIOTA       -0.796178     0.055747  22.749395
288      KCS       -0.645161    -0.101385  -6.157905
289      AOA       -0.806452    -0.001083 -11.071803
290      FCT       -0.645161     0.139956   4.505776
291     ABBC       -0.806452     0.146906 150.555833
292      INB        0.961538    -0.003751  -1.147125
293      CNX       -0.636943     0.002953   1.112973
294     QBIT       -0.796178     4.728161  13.510253
295     MONA       -0.477707     0.019180   1.626097
296      THR       -0.636943    61.747192   3.357786
297     ORBS       -0.806452     0.000564   4.280087
298     VEST       -0.806452    -0.000150  -3.961774
299        R       -0.649351    -0.001409  -2.218081
300     PIVX       -0.645161    -0.012762  -4.440481
301      RDD        0.645161    -0.000085  -5.979064
302     MOAC        0.649351     0.042108  13.735898
303      APL       -0.316456    -0.000030  -3.463050
304   BCZERO       -0.801282     0.001166   6.296146
305      QNT       -0.483871     1.110291  15.379125
306      XPX       -0.806452     0.000524  27.169864
307    SOLVE        0.641026     0.001002   0.936038
308  ECOREAL       -0.955414     0.028844  13.919508
309      VTC       -0.641026     0.009802   3.547991
310     TPAY       -0.641026    -0.023285 -11.066709
311      UNO        0.806452     3.006424   4.106092
312      NXS       -0.483871     0.019809   9.067276
313      C20       -0.796178    -0.025042  -4.594810
314      SLT       -0.483871     0.101751  17.261796
315       JS        0.000000    -0.000233 -14.968915
316     COSM       -0.796178    -0.000501  -4.619866
317      INO       -0.806452     0.092602   4.590363
318      POE        0.806452     0.000640  22.683297
319      DTR        0.796178     0.009056  29.321445
320      HYN       -0.474684     0.007931  13.064903
321    IGNIS        0.806452     0.000730   2.350901
322      CWV       -0.796178    -0.000197 -10.814509
323     AMPL       -0.320513     0.071277  17.658095
324     HEDG        0.641026    -0.003030  -0.330208
325      NET        0.649351    -0.896895 -46.684472
326      NEX       -0.649351     0.308357  21.973132
327      XMX        0.641026     0.000069   2.816103
328      WIN       -0.474684     0.000014   6.418032
329      FST        0.806452    -0.167408 -11.760756
330      ESS       -0.641026    -0.000021  -2.625069
331     ALGO       -0.161290     0.001504   0.473449

In [32]:
final['TA result'] = final['Technical Score'].apply(fun)
final['Actual result'] = final['% Change'].apply(fun1,args=[-15,-5,5,15])
final = final[final['Technical Score'] != 0]

In [33]:
data = pd.crosstab(final['TA result'], final['Actual result'])

data = data.reindex(['Strong Sell','Sell','Neutral','Buy','Strong Buy'])
data = data.reindex(columns=['Strong Sell','Sell','Neutral','Buy','Strong Buy'])

x1 = data.sum(axis=1)
data['Total'] = x1
x2 = data.T.apply(acc) * 100
data['Result'] = (x1*x2)/100
data['% Accurate'] = x2
data.fillna(0,inplace=True)

data.index = ['(-15)%','(-15 - -5)%', '(-5 - 5)%', '(5 - 15)%', '(15)%']
data.columns = ['(-15)%','(-15 - -5)%', '(-5 - 5)%', '(5 - 15)%', '(15)%', 'Total', 'Result', '% Accurate']

data

              (-15)%  (-15 - -5)%  (-5 - 5)%  (5 - 15)%     (15)%      Total     Result  % Accurate
(-15)%      0.000000     0.000000   0.000000   0.000000  0.000000   0.000000   0.000000    0.000000
(-15 - -5)% 1.000000     7.000000  43.000000  20.000000 10.000000  81.000000   8.000000    9.876543
(-5 - 5)%   6.000000    25.000000 109.000000  63.000000 30.000000 233.000000 109.000000   46.781116
(5 - 15)%   0.000000     1.000000   9.000000   5.000000  0.000000  15.000000   5.000000   33.333333
(15)%       0.000000     1.000000   0.000000   0.000000  0.000000   1.000000   0.000000    0.000000

In [34]:
data['Result'].sum() / data['Total'].sum()

0.3696969696969697

#### New Weights

In [45]:
df[df['ico_id'] == 3323]

           id  ico_id ico_symbol        date      open     close       low      high          created_at          updated_at           volume  btc_open  btc_close  btc_low  btc_high  value_from_coinmarketcap
3245   224964    3323       QTUM  2018-02-13 26.195000 28.990000 26.195000 29.930000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3246   224965    3323       QTUM  2018-02-14 29.299999 28.850000 26.700001 29.327999 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3247   224966    3323       QTUM  2018-02-15 28.594999 31.850000 28.594999 32.209999 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3248   224967    3323       QTUM  2018-02-16 31.850000 31.789000 30.500000 32.987999 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3249   224968    3323       QTUM  2018-02-17 31.778000 31.940001 30.350000 32.678001 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3250   224969    3323       QTUM  2018-02-18 31.764999 32.410999 31.471001 32.882999 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3251   224970    3323       QTUM  2018-02-19 32.410000 29.860001 28.511000 32.689999 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3252   224971    3323       QTUM  2018-02-20 29.410000 31.400000 29.222000 32.000000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3253   224972    3323       QTUM  2018-02-21 31.190001 28.740000 28.551001 32.279999 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3254   224973    3323       QTUM  2018-02-22 28.740000 26.559000 25.711000 29.249001 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3255   224974    3323       QTUM  2018-02-23 26.330000 24.665001 24.000999 27.780001 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3256   224975    3323       QTUM  2018-02-24 25.000000 26.540001 23.801001 26.790001 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3257   224976    3323       QTUM  2018-02-25 26.530001 25.110001 24.000999 27.538000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3258   224977    3323       QTUM  2018-02-26 25.028999 24.980000 24.101000 25.559999 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3259   224978    3323       QTUM  2018-02-27 24.980000 27.469999 24.150000 29.478001 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3260   224979    3323       QTUM  2018-02-28 27.500000 27.180000 26.670000 29.000000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3261   224980    3323       QTUM  2018-03-01 27.190001 25.440001 25.440001 28.208000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3262   224981    3323       QTUM  2018-03-02 25.500000 26.440001 25.240999 26.898001 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3263   224982    3323       QTUM  2018-03-03 26.389999 25.599001 24.700001 26.570000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3264   224983    3323       QTUM  2018-03-04 25.610001 25.424000 25.216000 26.299999 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3265   224984    3323       QTUM  2018-03-05 25.410000 26.340000 24.731001 26.600000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3266   224985    3323       QTUM  2018-03-06 26.240000 26.059999 25.669001 27.520000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3267   224986    3323       QTUM  2018-03-07 26.011999 24.662001 24.250000 26.650000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3268   224987    3323       QTUM  2018-03-08 24.780001 21.518000 20.139999 25.030001 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3269   224988    3323       QTUM  2018-03-09 21.590000 19.650000 19.311001 22.139999 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3270   224989    3323       QTUM  2018-03-10 19.540001 19.100000 17.000000 19.886999 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3271   224990    3323       QTUM  2018-03-11 19.177000 17.900000 17.740999 19.858999 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3272   224991    3323       QTUM  2018-03-12 17.730000 19.219000 17.230000 19.556999 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3273   224992    3323       QTUM  2018-03-13 19.226000 18.091999 17.570000 19.389999 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3274   224993    3323       QTUM  2018-03-14 18.266001 18.030001 17.500000 23.150999 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3275   224994    3323       QTUM  2018-03-15 18.139999 15.888000 15.361000 18.400000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3276   224995    3323       QTUM  2018-03-16 15.731000 15.489000 14.196000 16.490000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3277   224996    3323       QTUM  2018-03-17 15.520000 14.770000 14.513000 15.740000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3278   224997    3323       QTUM  2018-03-18 14.770000 13.479000 13.195000 14.960000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3279   224998    3323       QTUM  2018-03-19 13.300000 13.418000 10.912000 14.650000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3280   224999    3323       QTUM  2018-03-20 13.320000 19.989000 12.901000 20.580000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3281   225000    3323       QTUM  2018-03-21 19.969999 20.440001 18.011000 21.840000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3282   225001    3323       QTUM  2018-03-22 20.450001 19.490000 18.549999 20.990000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3283   225002    3323       QTUM  2018-03-23 19.629999 19.260000 17.580999 20.039000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3284   225003    3323       QTUM  2018-03-24 19.187000 18.489000 17.531000 19.259001 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3285   225004    3323       QTUM  2018-03-25 18.540001 17.749001 17.299999 19.450001 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3286   225005    3323       QTUM  2018-03-26 17.704000 17.884001 17.299999 18.466000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3287   225006    3323       QTUM  2018-03-27 17.899000 16.080999 15.117000 18.097000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3288   225007    3323       QTUM  2018-03-28 16.049999 15.115000 14.530000 17.100000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3289   225008    3323       QTUM  2018-03-29 15.061000 15.482000 14.903000 16.219000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3290   225009    3323       QTUM  2018-03-30 15.590000 14.060000 13.800000 15.649000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3291   225010    3323       QTUM  2018-03-31 14.169000 14.180000 13.078000 14.909000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3292   225011    3323       QTUM  2018-04-01 14.497000 14.073000 13.816000 14.700000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3293   225012    3323       QTUM  2018-04-02 14.240000 13.351000 12.500000 14.248000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3294   225013    3323       QTUM  2018-04-03 13.340000 14.140000 13.201000 15.000000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3295   225014    3323       QTUM  2018-04-04 14.180000 15.078000 14.136000 15.368000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3296   225015    3323       QTUM  2018-04-05 14.850000 13.540000 13.302000 14.980000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3297   225016    3323       QTUM  2018-04-06 13.539000 13.420000 12.744000 13.632000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3298   225017    3323       QTUM  2018-04-07 13.290000 12.797000 12.339000 13.550000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3299   225018    3323       QTUM  2018-04-08 12.792000 13.044000 12.780000 13.379000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3300   225019    3323       QTUM  2018-04-09 13.142000 13.440000 13.010000 13.535000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3301   225020    3323       QTUM  2018-04-10 13.450000 13.340000 13.024000 15.350000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3302   225021    3323       QTUM  2018-04-11 13.400000 13.460000 12.901000 13.616000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3303   225022    3323       QTUM  2018-04-12 13.409000 14.311000 13.221000 14.500000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3304   225023    3323       QTUM  2018-04-13 14.311000 16.510000 13.510000 16.840000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3305   225024    3323       QTUM  2018-04-14 16.510000 15.559000 15.415000 17.599001 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3306   225025    3323       QTUM  2018-04-15 15.630000 15.840000 15.245000 16.320000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3307   225026    3323       QTUM  2018-04-16 16.049999 16.542000 15.980000 17.075001 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3308   225027    3323       QTUM  2018-04-17 16.730000 16.658001 15.321000 16.972000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3309   225028    3323       QTUM  2018-04-18 16.690001 16.360001 16.150000 17.009001 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3310   225029    3323       QTUM  2018-04-19 16.292000 17.556999 16.292000 17.690001 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3311   225030    3323       QTUM  2018-04-20 17.556999 18.530001 17.459999 18.615000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3312   225031    3323       QTUM  2018-04-21 18.615999 20.212000 17.959999 20.625000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3313   225032    3323       QTUM  2018-04-22 20.208000 19.254999 17.844999 20.660000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3314   225033    3323       QTUM  2018-04-23 19.173000 19.014000 18.551001 19.914000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3315   225034    3323       QTUM  2018-04-24 19.166000 20.447001 19.150000 21.000000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3316   225035    3323       QTUM  2018-04-25 20.447001 22.676001 20.365999 24.007999 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3317   225036    3323       QTUM  2018-04-26 22.676001 19.164000 18.250999 22.726000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3318   225037    3323       QTUM  2018-04-27 18.931000 21.000000 18.492001 23.000000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3319   225038    3323       QTUM  2018-04-28 21.020000 19.570999 19.570999 21.295000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3320   225039    3323       QTUM  2018-04-29 19.570999 21.582001 19.500999 22.191999 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3321   225040    3323       QTUM  2018-04-30 21.629000 22.945999 20.183001 24.774000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3322   225041    3323       QTUM  2018-05-01 22.945999 22.320999 21.691000 25.670000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3323   225042    3323       QTUM  2018-05-02 22.120001 21.941000 20.424999 22.309999 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3324   225043    3323       QTUM  2018-05-03 22.107000 22.280001 21.270000 22.500000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3325   225044    3323       QTUM  2018-05-04 22.280001 22.799999 21.670000 24.000000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3326   225045    3323       QTUM  2018-05-05 22.775000 22.120001 21.500000 23.714001 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3327   225046    3323       QTUM  2018-05-06 22.120001 22.389999 21.893000 22.938999 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3328   225047    3323       QTUM  2018-05-07 22.455999 22.921000 21.459999 24.000000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3329   225048    3323       QTUM  2018-05-08 22.921000 21.379999 20.551001 22.921000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3330   225049    3323       QTUM  2018-05-09 21.409000 20.711000 20.100000 21.767000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3331   225050    3323       QTUM  2018-05-10 20.520000 19.830999 19.010000 20.584999 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3332   225051    3323       QTUM  2018-05-11 19.900000 18.260000 18.250000 20.837999 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3333   225052    3323       QTUM  2018-05-12 18.250000 15.910000 15.400000 18.343000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3334   225053    3323       QTUM  2018-05-13 15.877000 16.330000 14.266000 16.688000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3335   225054    3323       QTUM  2018-05-14 16.059999 17.101000 15.680000 17.850000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3336   225055    3323       QTUM  2018-05-15 17.139999 17.655001 15.977000 18.757999 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3337   225056    3323       QTUM  2018-05-16 17.663000 16.760000 16.617001 18.400000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3338   225057    3323       QTUM  2018-05-17 16.784000 16.448999 15.440000 16.799000 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0
3339   225058    3323       QTUM  2018-05-18 16.450001 15.311000 15.094000 16.926001 2019-06-24 16:47:10 2019-06-24 16:47:10              nan       nan        nan      nan       nan                         0

In [38]:
d3['weight'] = [11, 18, 2, 4, 8, 0, 23, 12, 2, 6, 21, 1, 1, 4]
d4 = pd.merge(d1,d3[['indicator','weight']], on=['indicator'] ,how='left')
d4['signal'] = d4['signal'].replace(['neutral','downward','upward','buy','sell','bullish','bearish'],[0,-25,25,75,-75,25,-25])

In [39]:
temp = pd.DataFrame()
for coin in df['ico_symbol'].unique().tolist():
    num = df['ico_id'][df['ico_symbol'] == coin].unique().tolist()
    d5 = d4[d4['ico_id'].isin(num)]
    d5 = d5[['indicator','weight','signal']]

    candlestick['weight'] = 1
    t1 = candlestick[candlestick['ico_id'].isin(num)]
    t1 = t1[['pattern','weight','signal']]
    t1.columns = d5.columns

    d5 = pd.concat([d5,t1])

    d5 = d5.drop_duplicates('indicator')
    d5['weight'] = d5['weight'].fillna(1)
    d5 = d5.fillna(0)
    temp = pd.concat([temp,pd.DataFrame([coin,sum(d5['weight'] * d5['signal'].astype('float64')) / d5['weight'].sum()])], axis=1)


temp = temp.T
temp.columns = ['Coins','Technical Score']
temp.dropna(inplace=True)


final = pd.merge(temp,t2)

final['TA result'] = final['Technical Score'].apply(fun)
final['Actual result'] = final['% Change'].apply(fun1,args=[-15,-5,5,15])
final = final[final['Technical Score'] != 0]
data = pd.crosstab(final['TA result'], final['Actual result'])

data = data.reindex(['Strong Sell','Sell','Neutral','Buy','Strong Buy'])
data = data.reindex(columns=['Strong Sell','Sell','Neutral','Buy','Strong Buy'])

x1 = data.sum(axis=1)
data['Total'] = x1
x2 = data.T.apply(acc) * 100
data['Result'] = (x1*x2)/100
data['% Accurate'] = x2
data.fillna(0,inplace=True)

data.index = ['(-15)%','(-15 - -5)%', '(-5 - 5)%', '(5 - 15)%', '(15)%']
data.columns = ['(-15)%','(-15 - -5)%', '(-5 - 5)%', '(5 - 15)%', '(15)%', 'Total', 'Result', '% Accurate']

data

              (-15)%  (-15 - -5)%  (-5 - 5)%  (5 - 15)%     (15)%      Total    Result  % Accurate
(-15)%      0.000000     0.000000   0.000000   0.000000  0.000000   0.000000  0.000000    0.000000
(-15 - -5)% 0.000000    10.000000  70.000000  44.000000 13.000000 137.000000 10.000000    7.299270
(-5 - 5)%   7.000000    22.000000  84.000000  40.000000 26.000000 179.000000 84.000000   46.927374
(5 - 15)%   0.000000     3.000000   6.000000   4.000000  1.000000  14.000000  5.000000   35.714286
(15)%       0.000000     0.000000   0.000000   0.000000  0.000000   0.000000  0.000000    0.000000

In [40]:
data['Result'].sum() / data['Total'].sum()

0.3

#### Weekly

In [32]:
d3['indicator'].iloc[11] = 'ichimoku_lagging_span'
candlestick['signal'] = candlestick['signal'].replace(['bullish','bearish','bearish_bullish'],[25,-25,0])
d1 = d1[d1['date'] == datetime.date(2019,8,19)]

In [38]:
t2 = pd.DataFrame()
for coin in df['ico_symbol'].unique().tolist():
    t1 = df[df['ico_symbol'] == coin]
    t1 = t1[t1['date'] >= datetime.date(2019,8,19)][t1['date'] <= datetime.date(2019,8,27)]
    t1 = t1.drop_duplicates(subset=['date'])
    t1 = t1.sort_values('date')
    if len(t1) > 1:
        x1 = t1['close'].iloc[-1] - t1['close'].iloc[0]
        x2 = (t1['close'].iloc[-1] - t1['close'].iloc[0]) / t1['close'].iloc[0] * 100
        t2 = pd.concat([t2,pd.DataFrame([coin,x1,x2])], axis=1)

t2 = t2.T
t2.columns = ['Coins','Price Change', '% Change']

In [42]:
def get_result(x = [4,2,1,11,1,3,7,2,1,10,7,21,25,6]):
    d3['weight'] = x
    d4 = pd.merge(d1,d3[['indicator','weight']], on=['indicator'] ,how='left')
    d4['signal'] = d4['signal'].replace(['neutral','downward','upward','buy','sell'],[0,-25,25,75,-75])

    
    temp = pd.DataFrame()
    for coin in df['ico_symbol'].unique().tolist():
        num = df['ico_id'][df['ico_symbol'] == coin].unique().tolist()
        d5 = d4[d4['ico_id'].isin(num)]
        d5 = d5[['indicator','weight','signal']]

        candlestick['weight'] = 1
        t1 = candlestick[candlestick['ico_id'].isin(num)]
        t1 = t1[['pattern','weight','signal']]
        t1.columns = d5.columns

        d5 = pd.concat([d5,t1])

        d5 = d5.drop_duplicates('indicator')
        d5['weight'] = d5['weight'].fillna(1)
        d5 = d5.fillna(0)
        temp = pd.concat([temp,pd.DataFrame([coin,sum(d5['weight'] * d5['signal'].astype('float64')) / d5['weight'].sum()])], axis=1)
        
        
    temp = temp.T
    temp.columns = ['Coins','Technical Score']
    temp.dropna(inplace=True)

    
    final = pd.merge(temp,t2)
    
    final['TA result'] = final['Technical Score'].apply(fun)
    final['Actual result'] = final['% Change'].apply(fun1,args=[-15,-5,5,15])
    final = final[final['Technical Score'] != 0]
    data = pd.crosstab(final['TA result'], final['Actual result'])

    data = data.reindex(['Strong Sell','Sell','Neutral','Buy','Strong Buy'])
    data = data.reindex(columns=['Strong Sell','Sell','Neutral','Buy','Strong Buy'])

    x1 = data.sum(axis=1)
    data['Total'] = x1
    x2 = data.T.apply(acc) * 100
    data['Result'] = (x1*x2)/100
    data['% Accurate'] = x2
    data.fillna(0,inplace=True)
    
    data.index = ['(-15)%','(-15 - -5)%', '(-5 - 5)%', '(5 - 15)%', '(15)%']
    data.columns = ['(-15)%','(-15 - -5)%', '(-5 - 5)%', '(5 - 15)%', '(15)%', 'Total', 'Result', '% Accurate']

    return data

In [43]:
d3['weight'] = [3, 13, 13, 22, 8, 5, 21, 3, 0, 22, 4, 7, 13, 21]
d3

    id              indicator  weight created_at updated_at
0    1                    adx       3       None       None
1    2                     ao      13       None       None
2    3                    cci      13       None       None
3    4                   macd      22       None       None
4    5                     fi       8       None       None
5    6                    rsi       5       None       None
6    7                     kd      21       None       None
7    8                     wr       3       None       None
8    9                    roc       0       None       None
9   10                   trix      22       None       None
10  11                   vwap       4       None       None
11  12  ichimoku_lagging_span       7       None       None
12  13                    ema      13       None       None
13  14                    mfi      21       None       None

In [44]:
x = get_result(d3['weight'])
x

               (-15)%  (-15 - -5)%  (-5 - 5)%  (5 - 15)%     (15)%      Total    Result  % Accurate
(-15)%       0.000000     0.000000   0.000000   0.000000  0.000000   0.000000  0.000000    0.000000
(-15 - -5)%  3.000000     2.000000   5.000000   0.000000  1.000000  11.000000  5.000000   45.454545
(-5 - 5)%   10.000000    15.000000  77.000000  11.000000  4.000000 117.000000 77.000000   65.811966
(5 - 15)%    6.000000    35.000000  62.000000  12.000000 12.000000 127.000000 24.000000   18.897638
(15)%        1.000000     1.000000   2.000000   0.000000  1.000000   5.000000  1.000000   20.000000

In [45]:
x['Result'].sum() / x['Total'].sum()

0.41153846153846146

In [46]:
d3['weight'] = [11, 3, 4, 15, 5, 3, 5, 1, 23, 15, 14, 19, 2, 19]
d3

    id              indicator  weight created_at updated_at
0    1                    adx      11       None       None
1    2                     ao       3       None       None
2    3                    cci       4       None       None
3    4                   macd      15       None       None
4    5                     fi       5       None       None
5    6                    rsi       3       None       None
6    7                     kd       5       None       None
7    8                     wr       1       None       None
8    9                    roc      23       None       None
9   10                   trix      15       None       None
10  11                   vwap      14       None       None
11  12  ichimoku_lagging_span      19       None       None
12  13                    ema       2       None       None
13  14                    mfi      19       None       None

In [47]:
x = get_result(d3['weight'])
x

               (-15)%  (-15 - -5)%  (-5 - 5)%  (5 - 15)%     (15)%      Total     Result  % Accurate
(-15)%       0.000000     0.000000   0.000000   0.000000  0.000000   0.000000   0.000000    0.000000
(-15 - -5)%  0.000000     0.000000   1.000000   0.000000  0.000000   1.000000   0.000000    0.000000
(-5 - 5)%   16.000000    49.000000 138.000000  21.000000 17.000000 241.000000 138.000000   57.261411
(5 - 15)%    3.000000     3.000000   6.000000   2.000000  0.000000  14.000000   2.000000   14.285714
(15)%        1.000000     1.000000   1.000000   0.000000  1.000000   4.000000   1.000000   25.000000

In [48]:
x['Result'].sum() / x['Total'].sum()

0.5423076923076922

In [49]:
d3['weight'] = [11, 3, 4, 15, 5, 3, 5, 1, 23, 15, 14, 19, 2, 19]
d3

    id              indicator  weight created_at updated_at
0    1                    adx      11       None       None
1    2                     ao       3       None       None
2    3                    cci       4       None       None
3    4                   macd      15       None       None
4    5                     fi       5       None       None
5    6                    rsi       3       None       None
6    7                     kd       5       None       None
7    8                     wr       1       None       None
8    9                    roc      23       None       None
9   10                   trix      15       None       None
10  11                   vwap      14       None       None
11  12  ichimoku_lagging_span      19       None       None
12  13                    ema       2       None       None
13  14                    mfi      19       None       None

In [50]:
x = get_result(d3['weight'])
x

               (-15)%  (-15 - -5)%  (-5 - 5)%  (5 - 15)%     (15)%      Total     Result  % Accurate
(-15)%       0.000000     0.000000   0.000000   0.000000  0.000000   0.000000   0.000000    0.000000
(-15 - -5)%  0.000000     0.000000   1.000000   0.000000  0.000000   1.000000   0.000000    0.000000
(-5 - 5)%   16.000000    49.000000 138.000000  21.000000 17.000000 241.000000 138.000000   57.261411
(5 - 15)%    3.000000     3.000000   6.000000   2.000000  0.000000  14.000000   2.000000   14.285714
(15)%        1.000000     1.000000   1.000000   0.000000  1.000000   4.000000   1.000000   25.000000

In [51]:
x['Result'].sum() / x['Total'].sum()

0.5423076923076922

#### temp

In [64]:
t = pd.DataFrame()

with SSHTunnelForwarder(('206.189.186.74', 22), ssh_password='crypto1234', ssh_username='aagam', remote_bind_address=('127.0.0.1', 3306)) as server:
    conn = MySQLdb.connect(host='localhost', port=server.local_bind_port, user='ianbalina', passwd='5!sT3jt26K%tFN*W',db='ianbalina')
    cursor = conn.cursor()
    
    #cursor.execute("SELECT * FROM ianbalina.ico_price_daily_summaries;") 
    #m = cursor.fetchone()
    query = '''SELECT * FROM ianbalina.predictions_meta;'''
    data = pd.read_sql_query(query, conn)
    t = pd.concat([t,data])
    
    conn.close()

I0923 08:49:39.487410  6556 transport.py:1819] Connected (version 2.0, client OpenSSH_7.6p1)
I0923 08:49:41.258848  6556 transport.py:1819] Authentication (password) successful!

In [66]:
df

           id  ico_id ico_symbol        date         open        close          low         high          created_at          updated_at             volume  btc_open  btc_close  btc_low  btc_high  value_from_coinmarketcap
0         994       1        BTC  2018-01-08 17169.000000 16215.357422 15712.000000 17178.000000 2019-05-19 19:42:33 2019-05-19 19:42:33                nan       nan        nan      nan       nan                         0
1         995       1        BTC  2018-01-09 16213.000000 14906.000000 13755.000000 16329.000000 2019-05-19 19:42:34 2019-05-19 19:42:34                nan       nan        nan      nan       nan                         0
2         996       1        BTC  2018-01-10 14911.000000 14430.000000 14122.000000 15355.000000 2019-05-19 19:42:34 2019-05-19 19:42:34                nan       nan        nan      nan       nan                         0
3         997       1        BTC  2018-01-11 14435.000000 14900.000000 13300.000000 14901.000000 2019-05-19 19:42:34 2019-05-19 19:42:34                nan       nan        nan      nan       nan                         0
4         998       1        BTC  2018-01-12 14900.000000 13254.000000 12639.000000 14999.000000 2019-05-19 19:42:34 2019-05-19 19:42:34                nan       nan        nan      nan       nan                         0
5         999       1        BTC  2018-01-13 13253.000000 13790.000000 12751.000000 14100.000000 2019-05-19 19:42:34 2019-05-19 19:42:34                nan       nan        nan      nan       nan                         0
6        1000       1        BTC  2018-01-14 13790.000000 14199.000000 13750.000000 14580.000000 2019-05-19 19:42:34 2019-05-19 19:42:34                nan       nan        nan      nan       nan                         0
7        1001       1        BTC  2018-01-15 14192.000000 13558.000000 12874.341797 14393.000000 2019-05-19 19:42:34 2019-05-19 19:42:34                nan       nan        nan      nan       nan                         0
8        1492       2        ETH  2018-01-11  1290.010010  1247.000000  1207.609985  1386.989990 2019-05-19 19:42:39 2019-05-19 19:42:39                nan       nan        nan      nan       nan                         0
9        1493       2        ETH  2018-01-12  1247.000000  1137.010010  1083.969971  1335.000000 2019-05-19 19:42:39 2019-05-19 19:42:39                nan       nan        nan      nan       nan                         0
10       1494       2        ETH  2018-01-13  1137.010010  1260.000000  1089.000000  1285.000000 2019-05-19 19:42:39 2019-05-19 19:42:39                nan       nan        nan      nan       nan                         0
11       1495       2        ETH  2018-01-14  1260.000000  1386.010010  1259.989990  1419.959961 2019-05-19 19:42:39 2019-05-19 19:42:39                nan       nan        nan      nan       nan                         0
12       1496       2        ETH  2018-01-15  1386.020020  1365.459961  1256.010010  1389.109985 2019-05-19 19:42:39 2019-05-19 19:42:39                nan       nan        nan      nan       nan                         0
13       1497       2        ETH  2018-01-16  1365.459961  1278.630005  1267.010010  1380.969971 2019-05-19 19:42:39 2019-05-19 19:42:39                nan       nan        nan      nan       nan                         0
14       2207    3113        AVT  2017-12-23     4.048500     3.021000     2.370100     4.116500 2019-05-19 19:42:44 2019-05-19 19:42:44                nan       nan        nan      nan       nan                         0
15       2208    3113        AVT  2017-12-24     3.020900     3.520100     3.020900     3.886100 2019-05-19 19:42:44 2019-05-19 19:42:44                nan       nan        nan      nan       nan                         0
16       2209    3113        AVT  2017-12-25     3.622100     4.311900     3.100000     5.100000 2019-05-19 19:42:44 2019-05-19 19:42:44                nan       nan        nan      nan       nan                         0
17       2210    3113        AVT  2017-12-26     4.359300     4.515200     4.200000     4.900000 2019-05-19 19:42:44 2019-05-19 19:42:44                nan       nan        nan      nan       nan                         0
18       2211    3113        AVT  2017-12-27     4.511000     4.460100     4.425000     4.836100 2019-05-19 19:42:44 2019-05-19 19:42:44                nan       nan        nan      nan       nan                         0
19       2212    3113        AVT  2017-12-28     4.467000     4.414200     4.104900     4.788000 2019-05-19 19:42:44 2019-05-19 19:42:44                nan       nan        nan      nan       nan                         0
20       2213    3113        AVT  2017-12-29     4.446100     3.950200     3.556600     4.446100 2019-05-19 19:42:44 2019-05-19 19:42:44                nan       nan        nan      nan       nan                         0
21       2214    3113        AVT  2017-12-30     3.950200     4.029800     3.811100     4.280000 2019-05-19 19:42:44 2019-05-19 19:42:44                nan       nan        nan      nan       nan                         0
22       4924    3306        ETH  2018-01-11  1290.010010  1247.000000  1207.609985  1386.989990 2019-05-19 19:43:02 2019-05-19 19:43:02                nan       nan        nan      nan       nan                         0
23       4925    3306        ETH  2018-01-12  1247.000000  1137.010010  1083.969971  1335.000000 2019-05-19 19:43:02 2019-05-19 19:43:02                nan       nan        nan      nan       nan                         0
24       4926    3306        ETH  2018-01-13  1137.010010  1260.000000  1089.000000  1285.000000 2019-05-19 19:43:02 2019-05-19 19:43:02                nan       nan        nan      nan       nan                         0
25       4927    3306        ETH  2018-01-14  1260.000000  1386.010010  1259.989990  1419.959961 2019-05-19 19:43:02 2019-05-19 19:43:02                nan       nan        nan      nan       nan                         0
26       4928    3306        ETH  2018-01-15  1386.020020  1365.459961  1256.010010  1389.109985 2019-05-19 19:43:02 2019-05-19 19:43:02                nan       nan        nan      nan       nan                         0
27       4929    3306        ETH  2018-01-16  1365.459961  1278.630005  1267.010010  1380.969971 2019-05-19 19:43:02 2019-05-19 19:43:02                nan       nan        nan      nan       nan                         0
28       6351    3333        OMG  2018-01-08    19.108999    24.329000    19.025000    24.500000 2019-05-19 19:43:09 2019-05-19 19:43:09                nan       nan        nan      nan       nan                         0
29       6352    3333        OMG  2018-01-09    24.389000    23.728001    18.849001    28.500000 2019-05-19 19:43:09 2019-05-19 19:43:09                nan       nan        nan      nan       nan                         0
30       6353    3333        OMG  2018-01-10    23.670000    25.099001    22.500000    26.238001 2019-05-19 19:43:09 2019-05-19 19:43:09                nan       nan        nan      nan       nan                         0
31       6354    3333        OMG  2018-01-11    25.205999    23.165001    21.500000    25.412001 2019-05-19 19:43:09 2019-05-19 19:43:09                nan       nan        nan      nan       nan                         0
32       6355    3333        OMG  2018-01-12    23.165001    21.417999    19.000000    23.801001 2019-05-19 19:43:09 2019-05-19 19:43:09                nan       nan        nan      nan       nan                         0
33       6356    3333        OMG  2018-01-13    21.408001    22.612000    20.000000    23.000000 2019-05-19 19:43:09 2019-05-19 19:43:09                nan       nan        nan      nan       nan                         0
34       6357    3333        OMG  2018-01-14    22.488001    25.500000    22.202000    26.073000 2019-05-19 19:43:09 2019-05-19 19:43:09                nan       nan        nan      nan       nan                         0
35       6358    3333        OMG  2018-01-15    25.490000    23.459000    21.784000    25.719000 2019-05-19 19:43:09 2019-05-19 19:43:09                nan       nan        nan      nan       nan                         0
36       6992    3338        EOS  2018-01-10     9.583400     9.229400     8.740000     9.742900 2019-05-19 19:43:12 2019-05-19 19:43:12                nan       nan        nan      nan       nan                         0
37       6993    3338        EOS  2018-01-11     9.235300    11.200000     8.362500    11.480000 2019-05-19 19:43:12 2019-05-19 19:43:12                nan       nan        nan      nan       nan                         0
38       6994    3338        EOS  2018-01-12    11.200000    11.276000     8.900000    12.459000 2019-05-19 19:43:12 2019-05-19 19:43:12                nan       nan        nan      nan       nan                         0
39       6995    3338        EOS  2018-01-13    11.260000    13.807000    10.565000    15.240000 2019-05-19 19:43:12 2019-05-19 19:43:12                nan       nan        nan      nan       nan                         0
40       6996    3338        EOS  2018-01-14    13.807000    16.000000    13.431000    18.670000 2019-05-19 19:43:12 2019-05-19 19:43:12                nan       nan        nan      nan       nan                         0
41       6997    3338        EOS  2018-01-15    16.000000    13.230000    12.888000    16.134001 2019-05-19 19:43:12 2019-05-19 19:43:12                nan       nan        nan      nan       nan                         0
42       6998    3338        EOS  2018-01-16    13.230000    12.780000    12.670000    14.700000 2019-05-19 19:43:12 2019-05-19 19:43:12                nan       nan        nan      nan       nan                         0
43       6999    3338        EOS  2018-01-17    12.781000    10.000000     8.312200    12.985000 2019-05-19 19:43:12 2019-05-19 19:43:12                nan       nan        nan      nan       nan                         0
44       7488    3375        BTC  2018-01-08 17169.000000 16215.357422 15712.000000 17178.000000 2019-05-19 19:43:15 2019-05-19 19:43:15                nan       nan        nan      nan       nan                         0
45       7489    3375        BTC  2018-01-09 16213.000000 14906.000000 13755.000000 16329.000000 2019-05-19 19:43:15 2019-05-19 19:43:15                nan       nan        nan      nan       nan                         0
46       7490    3375        BTC  2018-01-10 14911.000000 14430.000000 14122.000000 15355.000000 2019-05-19 19:43:15 2019-05-19 19:43:15                nan       nan        nan      nan       nan                         0
47       7491    3375        BTC  2018-01-11 14435.000000 14900.000000 13300.000000 14901.000000 2019-05-19 19:43:15 2019-05-19 19:43:15                nan       nan        nan      nan       nan                         0
48       7492    3375        BTC  2018-01-12 14900.000000 13254.000000 12639.000000 14999.000000 2019-05-19 19:43:15 2019-05-19 19:43:15                nan       nan        nan      nan       nan                         0
49       7493    3375        BTC  2018-01-13 13253.000000 13790.000000 12751.000000 14100.000000 2019-05-19 19:43:15 2019-05-19 19:43:15                nan       nan        nan      nan       nan                         0
50       7494    3375        BTC  2018-01-14 13790.000000 14199.000000 13750.000000 14580.000000 2019-05-19 19:43:15 2019-05-19 19:43:15                nan       nan        nan      nan       nan                         0
51       7495    3375        BTC  2018-01-15 14192.000000 13558.000000 12874.341797 14393.000000 2019-05-19 19:43:15 2019-05-19 19:43:15                nan       nan        nan      nan       nan                         0
52       8456    3377        LTC  2018-01-11   246.899994   248.809998   232.509995   249.669998 2019-05-19 19:43:19 2019-05-19 19:43:19                nan       nan        nan      nan       nan                         0
53       8457    3377        LTC  2018-01-12   248.820007   226.910004   219.070007   253.419998 2019-05-19 19:43:19 2019-05-19 19:43:19                nan       nan        nan      nan       nan                         0
54       8458    3377        LTC  2018-01-13   226.910004   235.520004   220.199997   241.990005 2019-05-19 19:43:19 2019-05-19 19:43:19                nan       nan        nan      nan       nan                         0
55       8459    3377        LTC  2018-01-14   235.520004   258.010010   235.509995   263.000000 2019-05-19 19:43:19 2019-05-19 19:43:19                nan       nan        nan      nan       nan                         0
56       8460    3377        LTC  2018-01-15   258.000000   237.889999   233.820007   268.000000 2019-05-19 19:43:19 2019-05-19 19:43:19                nan       nan        nan      nan       nan                         0
57       8461    3377        LTC  2018-01-16   237.889999   232.509995   231.110001   244.199997 2019-05-19 19:43:19 2019-05-19 19:43:19                nan       nan        nan      nan       nan                         0
58       8462    3377        LTC  2018-01-17   232.509995   191.130005   146.600006   233.229996 2019-05-19 19:43:19 2019-05-19 19:43:19                nan       nan        nan      nan       nan                         0
59       8463    3377        LTC  2018-01-18   191.130005   189.000000   135.000000   216.000000 2019-05-19 19:43:19 2019-05-19 19:43:19                nan       nan        nan      nan       nan                         0
60       8951    3379       USDT  2018-01-05     1.006100     1.015500     1.005100     1.020000 2019-05-19 19:43:21 2019-05-19 19:43:21                nan       nan        nan      nan       nan                         0
61       8952    3379       USDT  2018-01-06     1.015000     1.005000     0.999300     1.019900 2019-05-19 19:43:21 2019-05-19 19:43:21                nan       nan        nan      nan       nan                         0
62       8953    3379       USDT  2018-01-07     1.007000     1.001600     0.995500     1.007400 2019-05-19 19:43:21 2019-05-19 19:43:21                nan       nan        nan      nan       nan                         0
63       8954    3379       USDT  2018-01-08     1.001000     0.997000     0.990000     1.004500 2019-05-19 19:43:21 2019-05-19 19:43:21                nan       nan        nan      nan       nan                         0
64       8955    3379       USDT  2018-01-09     0.997300     1.004800     0.972000     1.004800 2019-05-19 19:43:21 2019-05-19 19:43:21                nan       nan        nan      nan       nan                         0
65       8956    3379       USDT  2018-01-10     1.004800     1.008000     1.000100     1.010000 2019-05-19 19:43:21 2019-05-19 19:43:21                nan       nan        nan      nan       nan                         0
66       8957    3379       USDT  2018-01-11     1.009800     0.999900     0.996000     1.009900 2019-05-19 19:43:21 2019-05-19 19:43:21                nan       nan        nan      nan       nan                         0
67       8958    3379       USDT  2018-01-12     1.000000     0.995100     0.994200     1.009000 2019-05-19 19:43:21 2019-05-19 19:43:21                nan       nan        nan      nan       nan                         0
68       8959    3379       USDT  2018-01-14     1.017000     1.010000     0.992600     1.017000 2019-05-19 19:43:21 2019-05-19 19:43:21                nan       nan        nan      nan       nan                         0
69       8960    3379       USDT  2018-01-15     1.010000     1.007900     0.999500     1.019000 2019-05-19 19:43:21 2019-05-19 19:43:21                nan       nan        nan      nan       nan                         0
70       8961    3379       USDT  2018-01-16     1.007400     1.003400     1.000000     1.014367 2019-05-19 19:43:21 2019-05-19 19:43:21                nan       nan        nan      nan       nan                         0
71       8962    3379       USDT  2018-01-17     1.002500     1.030000     1.001800     1.043400 2019-05-19 19:43:21 2019-05-19 19:43:21                nan       nan        nan      nan       nan                         0
72       8963    3379       USDT  2018-01-18     1.029800     1.012800     1.002300     1.045000 2019-05-19 19:43:21 2019-05-19 19:43:21                nan       nan        nan      nan       nan                         0
73       8964    3379       USDT  2018-01-19     1.011900     1.023500     1.011800     1.077900 2019-05-19 19:43:21 2019-05-19 19:43:21                nan       nan        nan      nan       nan                         0
74       8965    3379       USDT  2018-01-20     1.025700     1.017300     1.015000     1.060000 2019-05-19 19:43:21 2019-05-19 19:43:21                nan       nan        nan      nan       nan                         0
75       8966    3379       USDT  2018-01-21     1.017300     1.012200     1.005400     1.020000 2019-05-19 19:43:21 2019-05-19 19:43:21                nan       nan        nan      nan       nan                         0
76       8967    3379       USDT  2018-01-22     1.011700     1.006800     1.005100     1.016000 2019-05-19 19:43:21 2019-05-19 19:43:21                nan       nan        nan      nan       nan                         0
77       9518    3381        XMR  2018-01-05   384.679993   375.640015   360.000000   391.790009 2019-05-19 19:43:24 2019-05-19 19:43:24                nan       nan        nan      nan       nan                         0
78       9519    3381        XMR  2018-01-06   376.309998   353.440002   346.000000   388.000000 2019-05-19 19:43:24 2019-05-19 19:43:24                nan       nan        nan      nan       nan                         0
79       9520    3381        XMR  2018-01-07   355.820007   389.000000   351.839996   389.000000 2019-05-19 19:43:24 2019-05-19 19:43:24                nan       nan        nan      nan       nan                         0
80       9521    3381        XMR  2018-01-08   389.049988   395.760010   380.000000   420.000000 2019-05-19 19:43:24 2019-05-19 19:43:24                nan       nan        nan      nan       nan                         0
81       9522    3381        XMR  2018-01-09   395.760010   402.000000   345.670013   405.929993 2019-05-19 19:43:24 2019-05-19 19:43:24                nan       nan        nan      nan       nan                         0
82       9523    3381        XMR  2018-01-10   403.000000   412.459991   395.459991   448.739990 2019-05-19 19:43:24 2019-05-19 19:43:24                nan       nan        nan      nan       nan                         0
83       9524    3381        XMR  2018-01-11   412.290009   408.709991   365.000000   426.000000 2019-05-19 19:43:24 2019-05-19 19:43:24                nan       nan        nan      nan       nan                         0
84       9525    3381        XMR  2018-01-12   409.279999   362.429993   341.410004   412.809998 2019-05-19 19:43:24 2019-05-19 19:43:24                nan       nan        nan      nan       nan                         0
85       9526    3381        XMR  2018-01-14     0.010000   416.309998     0.010000   455.980011 2019-05-19 19:43:24 2019-05-19 19:43:24                nan       nan        nan      nan       nan                         0
86       9527    3381        XMR  2018-01-15   416.890015   398.339996   366.100006   423.000000 2019-05-19 19:43:24 2019-05-19 19:43:24                nan       nan        nan      nan       nan                         0
87       9528    3381        XMR  2018-01-16   397.720001   411.100006   387.850006   441.790009 2019-05-19 19:43:24 2019-05-19 19:43:24                nan       nan        nan      nan       nan                         0
88      10018    3382       DASH  2018-01-08  1160.199951  1157.900024  1151.000000  1247.300049 2019-05-19 19:43:26 2019-05-19 19:43:26                nan       nan        nan      nan       nan                         0

In [69]:
t1 = []
for ico in t['ico_id']:
    t1.append(df['ico_symbol'][df['ico_id'] == ico].iloc[0])

In [121]:
t

      id  ico_id                                            content  latest          created_at          updated_at
0      1    2987  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:36:43 2019-09-04 15:36:43
1      2    3146  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:36:49 2019-09-04 15:36:49
2      3    3181  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:36:52 2019-09-04 15:36:52
3      4    3217  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:36:55 2019-09-04 15:36:55
4      5    3312  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:36:58 2019-09-04 15:36:58
5      6    3317  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:36:59 2019-09-04 15:36:59
6      7    3335  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:01 2019-09-04 15:37:01
7      8    3369  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:03 2019-09-04 15:37:03
8      9    3376  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:04 2019-09-04 15:37:04
9     10    3379  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:04 2019-09-04 15:37:04
10    11    3381  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:05 2019-09-04 15:37:05
11    12    3389  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:06 2019-09-04 15:37:06
12    13    3396  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:07 2019-09-04 15:37:07
13    14    3397  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:07 2019-09-04 15:37:07
14    15    3401  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:07 2019-09-04 15:37:07
15    16    3409  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:08 2019-09-04 15:37:08
16    17    3413  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:09 2019-09-04 15:37:09
17    18    3421  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:09 2019-09-04 15:37:09
18    19    3424  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:10 2019-09-04 15:37:10
19    20    3427  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:10 2019-09-04 15:37:10
20    21    3428  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:10 2019-09-04 15:37:10
21    22    3442  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:11 2019-09-04 15:37:11
22    23    3457  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:12 2019-09-04 15:37:12
23    24    3461  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:13 2019-09-04 15:37:13
24    25    3463  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:13 2019-09-04 15:37:13
25    26    3471  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:14 2019-09-04 15:37:14
26    27    3481  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:15 2019-09-04 15:37:15
27    28    3487  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:16 2019-09-04 15:37:16
28    29    3500  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:17 2019-09-04 15:37:17
29    30    3587  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:21 2019-09-04 15:37:21
30    31    3615  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:23 2019-09-04 15:37:23
31    32    3651  {"time":["last month-2019","2nd last month-201...       0 2019-09-04 15:37:26 2019-09-04 15:37:26
32    33    2987  {"time":["last month-2019","2nd last month-201...       0 2019-09-05 02:00:03 2019-09-05 02:00:03
33    34    3146  {"time":["last month-2019","2nd last month-201...       0 2019-09-05 02:00:11 2019-09-05 02:00:11
34    35    3181  {"time":["last month-2019","2nd last month-201...       0 2019-09-05 02:00:15 2019-09-05 02:00:15
35    36    3217  {"time":["last month-2019","2nd last month-201...       0 2019-09-05 02:00:19 2019-09-05 02:00:19
36    37    3312  {"time":["last month-2019","2nd last month-201...       0 2019-09-05 02:00:25 2019-09-05 02:00:25
37    38    3317  {"time":["last month-2019","2nd last month-201...       0 2019-09-05 02:00:26 2019-09-05 02:00:26
38    39    3335  {"time":["last month-2019","2nd last month-201...       0 2019-09-05 02:00:29 2019-09-05 02:00:29
39    40    3369  {"time":["last month-2019","2nd last month-201...       0 2019-09-05 02:00:31 2019-09-05 02:00:31
40    41    3376  {"time":["last month-2019","2nd last month-201...       0 2019-09-05 02:00:32 2019-09-05 02:00:32
41    42    3379  {"time":["last month-2019","2nd last month-201...       0 2019-09-05 02:00:33 2019-09-05 02:00:33
42    43    3381  {"time":["last month-2019","2nd last month-201...       0 2019-09-05 02:00:33 2019-09-05 02:00:33
43    44    3389  {"time":["last month-2019","2nd last month-201...       0 2019-09-05 02:00:34 2019-09-05 02:00:34
44    45    3396  {"time":["last month-2019","2nd last month-201...       0 2019-09-05 02:00:36 2019-09-05 02:00:36
45    46    3397  {"time":["last month-2019","2nd last month-201...       0 2019-09-05 02:00:36 2019-09-05 02:00:36
46    47    3401  {"time":["last month-2019","2nd last month-201...       0 2019-09-05 02:00:37 2019-09-05 02:00:37
47    48    3409  {"time":["last month-2019","2nd last month-201...       0 2019-09-05 02:00:39 2019-09-05 02:00:39
48    49    3413  {"time":["last month-2019","2nd last month-201...       0 2019-09-05 02:00:40 2019-09-05 02:00:40
49    50    3421  {"time":["last month-2019","2nd last month-201...       0 2019-09-05 02:00:40 2019-09-05 02:00:40
50    51    3424  {"time":["last month-2019","2nd last month-201...       0 2019-09-05 02:00:41 2019-09-05 02:00:41
51    52    3427  {"time":["last month-2019","2nd last month-201...       0 2019-09-05 02:00:42 2019-09-05 02:00:42
52    53    2987  {"time":["last month-2019","2nd last month-201...       0 2019-09-06 02:00:02 2019-09-06 02:00:02
53    54    3146  {"time":["last month-2019","2nd last month-201...       0 2019-09-06 02:00:10 2019-09-06 02:00:10
54    55    3181  {"time":["last month-2019","2nd last month-201...       0 2019-09-06 02:00:15 2019-09-06 02:00:15
55    56    3217  {"time":["last month-2019","2nd last month-201...       0 2019-09-06 02:00:19 2019-09-06 02:00:19
56    57    3312  {"time":["last month-2019","2nd last month-201...       0 2019-09-06 02:00:24 2019-09-06 02:00:24
57    58    3317  {"time":["last month-2019","2nd last month-201...       0 2019-09-06 02:00:26 2019-09-06 02:00:26
58    59    3335  {"time":["last month-2019","2nd last month-201...       0 2019-09-06 02:00:28 2019-09-06 02:00:28
59    60    3369  {"time":["last month-2019","2nd last month-201...       0 2019-09-06 02:00:31 2019-09-06 02:00:31
60    61    3376  {"time":["last month-2019","2nd last month-201...       0 2019-09-06 02:00:31 2019-09-06 02:00:31
61    62    3379  {"time":["last month-2019","2nd last month-201...       0 2019-09-06 02:00:32 2019-09-06 02:00:32
62    63    3381  {"time":["last month-2019","2nd last month-201...       0 2019-09-06 02:00:32 2019-09-06 02:00:32
63    64    3389  {"time":["last month-2019","2nd last month-201...       0 2019-09-06 02:00:34 2019-09-06 02:00:34
64    65    3396  {"time":["last month-2019","2nd last month-201...       0 2019-09-06 02:00:35 2019-09-06 02:00:35
65    66    3397  {"time":["last month-2019","2nd last month-201...       0 2019-09-06 02:00:35 2019-09-06 02:00:35
66    67    3401  {"time":["last month-2019","2nd last month-201...       0 2019-09-06 02:00:36 2019-09-06 02:00:36
67    68    2987  {"time":["last month-2019","2nd last month-201...       0 2019-09-07 02:00:03 2019-09-07 02:00:03
68    69    3146  {"time":["last month-2019","2nd last month-201...       0 2019-09-07 02:00:11 2019-09-07 02:00:11
69    70    3181  {"time":["last month-2019","2nd last month-201...       0 2019-09-07 02:00:15 2019-09-07 02:00:15
70    71    3217  {"time":["last month-2019","2nd last month-201...       0 2019-09-07 02:00:19 2019-09-07 02:00:19
71    72    3312  {"time":["last month-2019","2nd last month-201...       0 2019-09-07 02:00:24 2019-09-07 02:00:24
72    73    3317  {"time":["last month-2019","2nd last month-201...       0 2019-09-07 02:00:25 2019-09-07 02:00:25
73    74    3335  {"time":["last month-2019","2nd last month-201...       0 2019-09-07 02:00:28 2019-09-07 02:00:28
74    75    3369  {"time":["last month-2019","2nd last month-201...       0 2019-09-07 02:00:30 2019-09-07 02:00:30
75    76    3376  {"time":["last month-2019","2nd last month-201...       0 2019-09-07 02:00:31 2019-09-07 02:00:31
76    77    3379  {"time":["last month-2019","2nd last month-201...       0 2019-09-07 02:00:32 2019-09-07 02:00:32
77    78    3381  {"time":["last month-2019","2nd last month-201...       0 2019-09-07 02:00:33 2019-09-07 02:00:33
78    79    3389  {"time":["last month-2019","2nd last month-201...       0 2019-09-07 02:00:34 2019-09-07 02:00:34
79    80    3396  {"time":["last month-2019","2nd last month-201...       0 2019-09-07 02:00:35 2019-09-07 02:00:35
80    81    3397  {"time":["last month-2019","2nd last month-201...       0 2019-09-07 02:00:35 2019-09-07 02:00:35
81    82    3401  {"time":["last month-2019","2nd last month-201...       0 2019-09-07 02:00:36 2019-09-07 02:00:36
82    83    3409  {"time":["last month-2019","2nd last month-201...       0 2019-09-07 02:00:37 2019-09-07 02:00:37
83    84    3413  {"time":["last month-2019","2nd last month-201...       0 2019-09-07 02:00:38 2019-09-07 02:00:38
84    85    3421  {"time":["last month-2019","2nd last month-201...       0 2019-09-07 02:00:39 2019-09-07 02:00:39
85    86    3424  {"time":["last month-2019","2nd last month-201...       0 2019-09-07 02:00:39 2019-09-07 02:00:39
86    87    3427  {"time":["last month-2019","2nd last month-201...       0 2019-09-07 02:00:40 2019-09-07 02:00:40
87    88    3428  {"time":["last month-2019","2nd last month-201...       0 2019-09-07 02:00:40 2019-09-07 02:00:40
88    89    2987  {"time":["last month-2019","2nd last month-201...       0 2019-09-08 02:00:02 2019-09-08 02:00:02
89    90    3146  {"time":["last month-2019","2nd last month-201...       0 2019-09-08 02:00:11 2019-09-08 02:00:11
90    91    3181  {"time":["last month-2019","2nd last month-201...       0 2019-09-08 02:00:15 2019-09-08 02:00:15
91    92    3217  {"time":["last month-2019","2nd last month-201...       0 2019-09-08 02:00:19 2019-09-08 02:00:19
92    93    3312  {"time":["last month-2019","2nd last month-201...       0 2019-09-08 02:00:25 2019-09-08 02:00:25
93    94    3317  {"time":["last month-2019","2nd last month-201...       0 2019-09-08 02:00:26 2019-09-08 02:00:26
94    95    3335  {"time":["last month-2019","2nd last month-201...       0 2019-09-08 02:00:29 2019-09-08 02:00:29
95    96    3369  {"time":["last month-2019","2nd last month-201...       0 2019-09-08 02:00:31 2019-09-08 02:00:31
96    97    3376  {"time":["last month-2019","2nd last month-201...       0 2019-09-08 02:00:32 2019-09-08 02:00:32
97    98    3379  {"time":["last month-2019","2nd last month-201...       0 2019-09-08 02:00:32 2019-09-08 02:00:32
98    99    3381  {"time":["last month-2019","2nd last month-201...       0 2019-09-08 02:00:33 2019-09-08 02:00:33
99   100    3389  {"time":["last month-2019","2nd last month-201...       0 2019-09-08 02:00:34 2019-09-08 02:00:34
100  101    3396  {"time":["last month-2019","2nd last month-201...       0 2019-09-08 02:00:35 2019-09-08 02:00:35
101  102    3397  {"time":["last month-2019","2nd last month-201...       0 2019-09-08 02:00:35 2019-09-08 02:00:35
102  103    3401  {"time":["last month-2019","2nd last month-201...       0 2019-09-08 02:00:36 2019-09-08 02:00:36
103  104    3409  {"time":["last month-2019","2nd last month-201...       0 2019-09-08 02:00:38 2019-09-08 02:00:38
104  105    3413  {"time":["last month-2019","2nd last month-201...       0 2019-09-08 02:00:38 2019-09-08 02:00:38
105  106    3421  {"time":["last month-2019","2nd last month-201...       0 2019-09-08 02:00:39 2019-09-08 02:00:39
106  107    3424  {"time":["last month-2019","2nd last month-201...       0 2019-09-08 02:00:40 2019-09-08 02:00:40
107  108    2987  {"time":["last month-2019","2nd last month-201...       0 2019-09-09 02:00:02 2019-09-09 02:00:02
108  109    3146  {"time":["last month-2019","2nd last month-201...       0 2019-09-09 02:00:10 2019-09-09 02:00:10
109  110    3181  {"time":["last month-2019","2nd last month-201...       0 2019-09-09 02:00:14 2019-09-09 02:00:14
110  111    3217  {"time":["last month-2019","2nd last month-201...       0 2019-09-09 02:00:18 2019-09-09 02:00:18
111  112    3312  {"time":["last month-2019","2nd last month-201...       0 2019-09-09 02:00:24 2019-09-09 02:00:24
112  113    3317  {"time":["last month-2019","2nd last month-201...       0 2019-09-09 02:00:25 2019-09-09 02:00:25
113  114    3335  {"time":["last month-2019","2nd last month-201...       0 2019-09-09 02:00:28 2019-09-09 02:00:28
114  115    3369  {"time":["last month-2019","2nd last month-201...       0 2019-09-09 02:00:30 2019-09-09 02:00:30
115  116    3376  {"time":["last month-2019","2nd last month-201...       0 2019-09-09 02:00:31 2019-09-09 02:00:31
116  117    3379  {"time":["last month-2019","2nd last month-201...       0 2019-09-09 02:00:32 2019-09-09 02:00:32
117  118    3381  {"time":["last month-2019","2nd last month-201...       0 2019-09-09 02:00:32 2019-09-09 02:00:32
118  119    3389  {"time":["last month-2019","2nd last month-201...       0 2019-09-09 02:00:33 2019-09-09 02:00:33
119  120    3396  {"time":["last month-2019","2nd last month-201...       0 2019-09-09 02:00:34 2019-09-09 02:00:34
120  121    3397  {"time":["last month-2019","2nd last month-201...       0 2019-09-09 02:00:35 2019-09-09 02:00:35
121  122    3401  {"time":["last month-2019","2nd last month-201...       0 2019-09-09 02:00:36 2019-09-09 02:00:36
122  123    3409  {"time":["last month-2019","2nd last month-201...       0 2019-09-09 02:00:37 2019-09-09 02:00:37
123  124    3413  {"time":["last month-2019","2nd last month-201...       0 2019-09-09 02:00:38 2019-09-09 02:00:38
124  125    2987  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:03 2019-09-10 02:00:03
125  126    3146  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:12 2019-09-10 02:00:12
126  127    3181  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:16 2019-09-10 02:00:16
127  128    3217  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:19 2019-09-10 02:00:19
128  129    3312  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:25 2019-09-10 02:00:25
129  130    3317  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:27 2019-09-10 02:00:27
130  131    3335  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:30 2019-09-10 02:00:30
131  132    3369  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:32 2019-09-10 02:00:32
132  133    3376  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:32 2019-09-10 02:00:32
133  134    3379  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:33 2019-09-10 02:00:33
134  135    3381  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:34 2019-09-10 02:00:34
135  136    3389  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:35 2019-09-10 02:00:35
136  137    3396  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:36 2019-09-10 02:00:36
137  138    3397  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:36 2019-09-10 02:00:36
138  139    3401  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:38 2019-09-10 02:00:38
139  140    3409  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:39 2019-09-10 02:00:39
140  141    3413  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:40 2019-09-10 02:00:40
141  142    3421  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:41 2019-09-10 02:00:41
142  143    3424  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:42 2019-09-10 02:00:42
143  144    3427  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:42 2019-09-10 02:00:42
144  145    3428  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:42 2019-09-10 02:00:42
145  146    3442  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:43 2019-09-10 02:00:43
146  147    3457  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:45 2019-09-10 02:00:45
147  148    3461  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:46 2019-09-10 02:00:46
148  149    3463  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:46 2019-09-10 02:00:46
149  150    3471  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:47 2019-09-10 02:00:47
150  151    3481  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:48 2019-09-10 02:00:48
151  152    3487  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:49 2019-09-10 02:00:49
152  153    3500  {"time":["last month-2019","2nd last month-201...       0 2019-09-10 02:00:51 2019-09-10 02:00:51
153  154    2987  {"time":["last month-2019","2nd last month-201...       0 2019-09-11 02:00:03 2019-09-11 02:00:03
154  155    3146  {"time":["last month-2019","2nd last month-201...       0 2019-09-11 02:00:12 2019-09-11 02:00:12
155  156    3181  {"time":["last month-2019","2nd last month-201...       0 2019-09-11 02:00:17 2019-09-11 02:00:17
156  157    3217  {"time":["last month-2019","2nd last month-201...       0 2019-09-11 02:00:20 2019-09-11 02:00:20
157  158    3312  {"time":["last month-2019","2nd last month-201...       0 2019-09-11 02:00:26 2019-09-11 02:00:26
158  159    3317  {"time":["last month-2019","2nd last month-201...       0 2019-09-11 02:00:27 2019-09-11 02:00:27
159  160    3335  {"time":["last month-2019","2nd last month-201...       0 2019-09-11 02:00:30 2019-09-11 02:00:30
160  161    3369  {"time":["last month-2019","2nd last month-201...       0 2019-09-11 02:00:32 2019-09-11 02:00:32
161  162    3376  {"time":["last month-2019","2nd last month-201...       0 2019-09-11 02:00:33 2019-09-11 02:00:33
162  163    3379  {"time":["last month-2019","2nd last month-201...       0 2019-09-11 02:00:33 2019-09-11 02:00:33
163  164    3381  {"time":["last month-2019","2nd last month-201...       0 2019-09-11 02:00:34 2019-09-11 02:00:34
164  165    3389  {"time":["last month-2019","2nd last month-201...       0 2019-09-11 02:00:35 2019-09-11 02:00:35
165  166    3396  {"time":["last month-2019","2nd last month-201...       0 2019-09-11 02:00:36 2019-09-11 02:00:36
166  167    3397  {"time":["last month-2019","2nd last month-201...       0 2019-09-11 02:00:36 2019-09-11 02:00:36
167  168    3401  {"time":["last month-2019","2nd last month-201...       0 2019-09-11 02:00:37 2019-09-11 02:00:37
168  169    3409  {"time":["last month-2019","2nd last month-201...       0 2019-09-11 02:00:38 2019-09-11 02:00:38
169  170    3413  {"time":["last month-2019","2nd last month-201...       0 2019-09-11 02:00:39 2019-09-11 02:00:39
170  171    3421  {"time":["last month-2019","2nd last month-201...       0 2019-09-11 02:00:40 2019-09-11 02:00:40

In [105]:
t2 = pd.DataFrame()
for i in range(len(t)):
    x = t['content'].iloc[i]
    x = eval(x)['accuracy']
    t2 = pd.concat([t2, pd.DataFrame(x).T])

In [107]:
t2['Coin'] = t1

In [112]:
t2.columns = ["last month-2019","2nd last month-2019","3rd last month-2019","Coin"]

In [116]:
sum(t2['last month-2019'] > 0.90)

334

In [118]:
len(t2)

334

In [120]:
len(t2.drop_duplicates())

61

In [110]:
x = t['content'].iloc[0]

In [111]:
xfg cbtd5r

'{"time":["last month-2019","2nd last month-2019","3rd last month-2019"],"rmse":[0.16757141547289078,3.891598099814588,1.7960051879596932],"mae":[0.13416646342124405,3.5354556051898527,1.3837626131216327],"accuracy":[0.955728906445522,0.5409574821382895,0.7165221023930449]}'

In [129]:
t = pd.read_csv('temp.csv')

In [142]:
t1 = pd.DataFrame()
for val in range(0,len(t),4):
    t2 = t[val:val+4]
    t2 = t2.iloc[:,1].tolist()
    t1 = pd.concat([t1,pd.DataFrame(t2).T])

In [144]:
len(t1)

114

In [146]:
t1.columns = ["last month-2019","2nd last month-2019","3rd last month-2019","Coin"]

In [152]:
sum(t1['last month-2019'].astype('float64') > 0.9)

37

In [153]:
sum(t1['last month-2019'].astype('float64') > 0.8)

78

In [157]:
t1.to_csv('data.csv', index=False)